<Page actionBarHidden="true">
    <GridLayout class="page">
        <StackLayout *ngIf="isRendering" width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
            <GridLayout height="12.5%" rows="auto,auto" marginTop="3%">
                <Label row="0" color="#A61F21" fontSize="18%" horizontalAlignment="center" fontWeight="500"
                    text="Brahmrishi Mission Sr. Sec. School"></Label>
                <Label row="1" fontSize="18%" horizontalAlignment="center" color="#A61F21" fontWeight="500"
                    text="Abohar (Punjab)"></Label>
            </GridLayout>
            <GridLayout #gridMain (loaded)="onGridLoaded($event)" rows="auto,auto,auto, auto, auto, auto,auto"
                borderRadius="5" zIndex="999" backgroundColor="#FFFFFF" row="0" width="90%" height="70%">
                <Image row="0" marginTop="5%" height="30%" width="40%" src="res://logo" stretch="aspectFit">
                </Image>
                <Label row="1" horizontalAlignment="center" color="#A61F21" text="Login" fontSize="20%" marginTop="2%"
                    marginBottom="2%">
                </Label>
                <StackLayout row="2" class="textfield-container" orientation="horizontal">
                    <GridLayout class="iconTextField" height="15%" width="20%">
                        <Image height="50%" width="50%" marginRight="15%" horizontalAlignment="right" [src]="userIcon">
                        </Image>
                    </GridLayout>
                    <TextField hint="Username or Email" width="100%" color="#A61F21" style.placeholderColor="#B9B9B9"
                        (textChange)="userNameTextField($event)" autocorrect="false" keyboardType="email">
                    </TextField>
                </StackLayout>
                <StackLayout row="3" class="textfield-container" orientation="horizontal">
                    <GridLayout class="iconTextField" height="15%" width="20%">
                        <Image height="50%" width="50%" marginRight="15%" horizontalAlignment="right"
                            [src]="passwordIcon"></Image>
                    </GridLayout>
                    <TextField hint="Password" width="100%" color="#A61F21" style.placeholderColor="#B9B9B9"
                        (textChange)="passwordTextField($event)" autocorrect="false" secure="true">
                    </TextField>
                </StackLayout>
                <StackLayout row="4" class="button-container">
                    <Button text="Login" class="font-weight-bold button" ng-click="showme=true"
                        (tap)="onLoginClick()"></Button>
                </StackLayout>
                <StackLayout row="5" backgroundColor="transparent" marginTop="2%" verticalAlignment="top"
                    horizontalAlignment="center">
                    <Label class="font-italic" color="#A61F21" (tap)="onForgotPassword()" text="Forgot Password?"
                        textTransform='none' zIndex="0" borderWidth="1" borderColor="transparent" underline="true"
                        underlineColor="white"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>