<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #deleteHolidayDialog modal size="lg" duration="100" backgroundColor="transparent">
            <StackLayout #deleteHolidayDialog width="80%" height="20%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onDeleteHolidayDialogLoaded($event)">
                <GridLayout rows="auto,auto" width="90%" height="100%">
                    <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                        <Label text="Want to delete holiday?" fontSize="16%" textWrap="true"
                            textAlignment="center"></Label>
                    </StackLayout>
                    <GridLayout row="1" height="50%" width="100%" columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="cancelButton" text="Cancel" (tap)="onCancel()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="deleteButton" text="Delete" (tap)="onDelete()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label height="50%" class="heading" color="#A61F21" textWrap="true" text="Holidays"></Label>
                <!-- <Label row="1" height="50%" class="heading" color="green" textWrap="true" text="Events"></Label> -->
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" color="#A61F21" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <!-- <GridView [height]="height" width="100%" [items]="holidays" [marginTop]="marginTop" colWidth="90%"
                rowHeight="25%"> -->
            <RadListView [items]="holidays" width="100%" [height]="height" [marginTop]="marginTop" colWidth="90%"
                rowHeight="25%">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout rows="auto,auto" backgroundColor="#FFFFFF" marginLeft="10" marginRight="10"
                        marginBottom="10" marginTop="5" orientation="vertical" borderRadius="8%"
                        verticalAlignment="stretch" androidElevation="5" borderRadius="10"
                        (longPress)="onPressHoliday(item)">
                        <GridLayout row="0" width="95%" height="auto" verticalAlignment="middle" columns="auto,auto">
                            <StackLayout col="0" width="85%" height="30" verticalAlignment="middle">
                                <Label color="#A61F21" fontSize="16%" fontWeight="500" textAlignment="center"
                                    [text]="item.date"></Label>
                            </StackLayout>
                            <StackLayout *ngIf="isVisibleDeleteButton" col="1" width="15%" height="30"
                                verticalAlignment="middle" (tap)="onPressHoliday(item)">
                                <Image width="70%" height="70%" src="res://delete" horizontalAlignment="right"></Image>
                            </StackLayout>
                        </GridLayout>
                        <StackLayout row="1" width="90%" height="auto" marginTop="5" marginBottom="5"
                            orientation="horizontal">
                            <Label color="black" fontWeight="500" fontSize="16%" text="Reason: "></Label>
                            <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                [text]="item.reason"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->

            <GridLayout *ngIf="isVisibleAddButton" height="10%" marginTop="90%" verticalAlignment="top">
                <StackLayout width="100%" height="100%" verticalAlignment="middle">
                    <Button class="addButton" text="Add Holidays" (tap)="onAddHolidays()"></Button>
                </StackLayout>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>

    </GridLayout>
</Page>