.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
  }

  .addButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    padding:0;
    font-size: 16%;
  }
  .addButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }

  .deleteButton{
    width:80%;
    height:80%;
    border-radius:40%;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    padding:0;
    font-size: 16%;
  }
  .deleteButton:highlighted{
    background-color: #A61F21;
    border-color: white;
    color:white
  }

  .cancelButton{
  width:80%;
  height:80%;
  border-radius:40%;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  padding:0;
  font-size: 16%;
}
.cancelButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}