<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onClassOutsideClick()">
            <StackLayout #classDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onClassDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView [items]="classes" height="90%" width="100%" [items]="classes" marginTop="5%"
                    colWidth="100%" rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onClassButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>

        <CardView #selectSectionDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onSectionOutsideClick()">
            <StackLayout *ngIf="!isSections" #sectionDialog width="80%" height="40%" margin="15" borderColor="#A61F21"
                borderWidth="1" borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onSectionDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="sections" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView [items]="sections" height="90%" width="100%" [items]="classes" marginTop="5%"
                    colWidth="100%" rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onSectionButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
            <StackLayout *ngIf="isSections" width="90%" height="10%" verticalAlignment="top" marginTop="45%">
                <Label [text]="sectionMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </StackLayout>
        </CardView>

        <CardView #addWishDialog modal size="lg" duration="100" backgroundColor="transparent" (tap)="onOutsideClick()">
            <StackLayout #wishDialog width="80%" height="30%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onWishDialogLoaded($event)">
                <GridLayout height="100%" width="100%" rows="auto,auto">
                    <StackLayout row="0" height="30%" width="90%" marginTop="15%">
                        <TextField [hint]="wishHint" [text]="wishText" (textChange)="onWishTextChanged($event)"
                            secure="false" [borderColor]="wishBorderColor" returnKeyType="done" autocorrect="false"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="2" width="50%" height="20%" marginTop="15%">
                        <Button class="dialogAddButton" text="Send message" (tap)="onDialogWish()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Birthdays"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout marginTop="33%" width="100%" height="7%" verticalAlignment="Top" columns="auto,auto">
                <StackLayout *ngIf="isClassPicker" col="0" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onClass()">
                    <Button class="classButton" [text]="classButton"></Button>
                </StackLayout>
                <StackLayout *ngIf="isSectionPicker" col="1" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onSection()">
                    <Button class="classButton" [text]="sectionButton"></Button>
                </StackLayout>
            </GridLayout>

            <!-- <GridView [height]="height" width="100%" [items]="birthdays" [marginTop]="marginTop" colWidth="90%"
                rowHeight="30%"> -->
            <RadListView [items]="birthdays" width="100%" [height]="height" [marginTop]="marginTop" colWidth="90%"
                rowHeight="30%">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout rows="auto,auto,auto" backgroundColor="#FFFFFF" marginLeft="10" marginRight="10"
                        marginBottom="10" marginTop="5" orientation="vertical" verticalAlignment="stretch"
                        androidElevation="5" borderRadius="10">
                        <StackLayout row="0" width="90%" height="30%" verticalAlignment="middle">
                            <Label color="#A61F21" fontSize="16%" fontWeight="500" textAlignment="center"
                                [text]="item.date"></Label>
                        </StackLayout>
                        <GridLayout row="1" width="100%" height="70%" columns="auto,auto">
                            <GridLayout col="0" width="60%" height="40" rows="auto,auto">
                                <StackLayout row="0" width="90%" height="50%" orientation="horizontal">
                                    <Label color="black" fontWeight="500" fontSize="16%" text="Name: "></Label>
                                    <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                        [text]="item.name"></Label>
                                </StackLayout>
                                <StackLayout row="1" width="90%" height="50%" orientation="horizontal">
                                    <Label color="black" fontWeight="500" fontSize="16%" text="Roll number: "></Label>
                                    <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                        [text]="item.rollNo"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout [visibility]="item.isBirthday==true && isStudent==false?'visible':'collapse'"
                                col="1" width="40%" height="30" verticalAlignment="middle">
                                <Button class="classButton" text="wish" (tap)="onWish(item)"></Button>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->

            <GridLayout *ngIf="isData" width="90%" height="10%" verticalAlignment="top" marginTop="50%">
                <Label [text]="birthdayMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>

    </GridLayout>
</Page>