  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }
  .backArrow{
    width:40;
    height:40;
}
  
  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }
  .addImageButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:20;
    padding:0;
  }
  .addImageButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }
  .dialogYesButton{
    width:40%;
    height:90%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:20;
    padding:0;
  }
  .dialogYesButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }
  .dialogNoButton{
    width:40%;
    height:90%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:20;
    padding:0;
  }
  .dialogNoButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }