<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #deleteImageDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onOutsideClick()">
            <StackLayout #deleteDialog width="80%" height="30%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="20" backgroundColor="#D9D9D9" (loaded)="onDeleteDialogLoaded($event)">
                <GridLayout height="100%" width="100%" rows="auto,auto,auto">
                    <StackLayout row="0" height="20%" width="90%" marginTop="20%">
                        <Label text="Delete this image?" color="#A61F21" fontSize="22" fontWeight="500"
                            textAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout row="1" width="80%" height="20%" marginTop="20%" orientation="horizontal">
                        <Button class="dialogYesButton" text="Yes" (tap)="onYes()"></Button>
                        <Button class="dialogNoButton" text="No" (tap)="onNo()" marginLeft="20%"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9">

            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">

                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>

                <!-- <GridView height="55%" width="100%" [items]="images" marginTop="10%" colWidth="30%" rowHeight="30%"> -->
                <RadListView height="55%" width="100%" [items]="images" marginTop="10%" colWidth="30%" rowHeight="30%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="3">
                    </ListViewStaggeredLayout>
                    
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout marginLeft="5" marginBottom="10" marginRight="5" orientation="vertical"
                            backgroundColor="#D9D9D9" class="list-group-item" [class.odd]="odd"
                            (tap)="onImageClick(item.icon)" verticalAlignment="middle">
                            <Image width="100%" height="100vh" stretch="aspectFill" [src]="item.icon" androidElevation="5" borderRadius="10"
                                (longPress)="onImagePress(item.id)">
                            </Image>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>

            <StackLayout *ngIf="isData" marginTop="50%" width="90%" height="40%" verticalAlignment="top">
                <Label [text]="galleryMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Gallery"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout marginTop="90%" width="100%" height="10%" horizontalAlignment="right" verticalAlignment="top">
                <Button class="addImageButton" text="Add image" (tap)="onAddImage()"></Button>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>