.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .backArrow{
    width:40;
    height:40;
  }

  .icons{
      padding: 10;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }

  .input-field{
    placeholder-color:black;
    border-bottom-width: 1;
    height:80%;
    width:100%;
    color:white;
}

.submitButton{
  width:100%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:#FFFFFF;
  color: #A61F21;
  font-weight:500;
  font-size:14%;
  padding:0;
}
.submitButton:highlighted{
  background-color: #A61F21;
  border-color: #FFFFFF;
  color:#FFFFFF;
}

.selectButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:#FFFFFF;
  color: #A61F21;
  padding:0;
  font-weight:500;
  font-size:14%;
}
.selectButton:highlighted{
  background-color: #A61F21;
  border-color: #D9D9D9;
  color:#D9D9D9;
}

.subjectButton{
  width:100%;
  height: 100%;
  border-color:#A61F21;
  border-width:1;
  background-color:white;
  color: #A61F21;
  font-weight:500;
  font-size:14%;
  padding:0;
}
.subjectButton:highlighted{
  background-color: #A61F21;
  border-color: white;
  color:white;
}

.classButton{
  width:100%;
  height: 100%;
  border-color:#3542B6;
  border-width:1;
  background-color:white;
  color: #3542B6;
  font-weight:500;
  font-size:14%;
  padding:0;
}
.classButton:highlighted{
  background-color: #3542B6;
  border-color: white;
  color:white;
}