<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #selectSubjectDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onSubjectOutsideClick()">
            <StackLayout #subjectDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onSubjectDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="subjects" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView height="90%" width="100%" [items]="subjects" marginTop="5%" colWidth="100%"
                    rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="subjectButton" [text]="item.name" (tap)="onSubjectButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>

        <!-- <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent"
        (tap)="onClassOutsideClick()">
        <StackLayout #classDialog width="80%" height="40%" borderColor="white" borderWidth="1" borderRadius="5"
            backgroundColor="#6D7CF1" (loaded)="onClassDialogLoaded($event)">
            <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%">
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout orientation="vertical" verticalAlignment="stretch">
                        <StackLayout width="90%" height="90%" verticalAlignment="middle">
                            <Button class="classButton" [text]="item.name" (tap)="onClassButton(item)"></Button>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </GridView>
        </StackLayout>
    </CardView> -->
        <!-- <ScrollView width="100%" height="100%"> -->
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="16%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout #grid rows="auto,auto,auto,auto" height="50%" width="90%" marginTop="35%"
                backgroundColor="#FFFFFF" borderRadius="10" (loaded)="onGridLoaded($event)">
                <!-- <StackLayout row="0" width="100%" height="15%" marginTop="10%">
                    <Button class="selectButton" [text]="selectClassText" (tap)="onSelectClass()"></Button>
                </StackLayout> -->
                <StackLayout row="0" width="100%" height="15%" marginTop="5%">
                    <Button class="selectButton" [text]="selectSubjectText" (tap)="onSelectSubject()"></Button>
                </StackLayout>
                <StackLayout row="1" width="90%" height="15%" marginTop="10%">
                    <TextField [hint]="classworkHint" [text]="classwork" (textChange)="onClassworkTextChanged($event)"
                        secure="false" color="#A61F21" [borderColor]="classworkBorderColor" returnKeyType="done"
                        autocorrect="false" padding="0" class="input input-border input-field">
                    </TextField>
                </StackLayout>
                <StackLayout row="2" width="90%" height="15%" marginTop="10%">
                    <TextField [hint]="homeworkHint" [text]="homework" (textChange)="onHomeworkTextChanged($event)"
                        secure="false" color="#A61F21" [borderColor]="homeworkBorderColor" returnKeyType="done"
                        autocorrect="false" padding="0" class="input input-border input-field">
                    </TextField>
                </StackLayout>
                <StackLayout row="3" width="90%" height="15%" marginTop="5%">
                    <Button class="submitButton" text="Submit Homework" (tap)="onSubmitHomework()"></Button>
                </StackLayout>
            </GridLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Homework"></Label>
            </GridLayout>

            <!-- <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout> -->
        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>