<GridLayout class="page" backgroundColor="#FFF7F7">
    <FlexboxLayout width="100%" height="100%" androidStatusBarBackground="transparent" backgroundColor="#FFF7F7">
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#FFF7F7">

            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#FFF7F7">

                <GridLayout height="25%" rows="auto,auto,auto" backgroundColor="#6D7CF1">
                    <Image row="0" src="res://arrow_back" width="30" height="30" marginTop="20%"
                        horizontalAlignment="left" (tap)="onBack()"></Image>
                    <Label row="0" color="white" fontSize="16%" marginTop="20%" horizontalAlignment="center"
                        fontWeight="500" text="Brahmrishi Mission Sr. Sec. School"></Label>
                    <Label row="1" fontSize="16%" horizontalAlignment="center" color="white" fontWeight="500"
                        text="Abohar (Punjab)"></Label>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image src="res://profile" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" text="Homework"></Label>
            </GridLayout>

            <GridLayout columns="auto,auto,auto" marginTop="33%" width="100%" height="7%" verticalAlignment="top">
                <StackLayout col="0" width="15%" height="100%" verticalAlignment="middle" (tap)="onLeftArrow()">
                    <Image class="dateArrow" src="res://left_arrow"></Image>
                </StackLayout>
                <StackLayout col="1" width="70%" height="100%" verticalAlignment="middle">
                    <Label class="date" [text]="date"></Label>
                </StackLayout>
                <StackLayout col="2" width="15%" height="100%" verticalAlignment="middle" (tap)="onRightArrow()">
                    <Image class=" dateArrow" src="res://right_arrow">
                    </Image>
                </StackLayout>
            </GridLayout>

            <GridView height="60%" width="100%" [items]="homework" marginTop="40%" colWidth="90%" rowHeight="30%">
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout #homework rows="auto,auto" backgroundColor="#6D7CF1" marginLeft="10" marginRight="10"
                        marginBottom="10" marginTop="5" orientation="vertical" borderRadius="8%" verticalAlignment="stretch"
                        (loaded)="onHomeworkLoaded($event)">
                        <StackLayout row="0" width="90%" height="30%" verticalAlignment="middle">
                            <Label color="white" fontSize="20" fontWeight="500" textAlignment="center"
                                [text]="item.subjectName"></Label>
                        </StackLayout>
                        <StackLayout row="1" width="90%" height="70%" orientation="horizontal">
                            <Label color="black" fontWeight="500" fontSize="16" text="Description: "></Label>
                            <Label color="black" fontWeight="300" fontSize="16" textWrap="true"
                                [text]="item.homework"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </GridView>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </FlexboxLayout>

</GridLayout>