  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .heading{
    color:#6D7CF1;
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
  }

  .syllabusButton{
    width:100%;
    height:100%;
    color:white;
    border-radius: 100;
    border-color:white;
    border-width:1;
    background-color:transparent;
  }
  .syllabusButton:highlighted{
    background-color: #FFF7F7;
    border-color: #6D7CF1;
    color:#6D7CF1;
  }
  .dateArrow{
    width:30;
    height:30;
  }
  .date{
    font-size: 20;
    color:#6D7CF1;
    font-weight: 500;
    text-align: center;
  }