.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .backArrow{
    width:40;
    height:40;
  }

  .icons{
      padding: 10;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }

  .input-field{
    placeholder-color:black;
    border-bottom-width: 1;
    height:80%;
    width:100%;
    color:white;
}

.submitButton{
  width:100%;
  height:70%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  font-weight:500;
  font-size:14%;
  padding:0;
}
.submitButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}

.holidayUnselectButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  padding:0;
  font-size:14%;
}
.holidayUnselectButton:highlighted{
  background-color: #A61F21;
  border-color: white;
  color:white
}
.holidaySelectButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:white;
  color: #A61F21;
  padding:0;
  font-size:14%;
}
.holidaySelectButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}

.okButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  padding:0;
  font-size: 14%;
}
.okButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}