<Page actionBarHidden="true">
    <GridLayout class="page">

        <CardView #datePickerDialog modal size="lg" duration="100" backgroundColor="transparent">
            <StackLayout #datePickerDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1" borderRadius="5"
                backgroundColor="#D9D9D9" (loaded)="onDatePickerDialogLoaded($event)">
                <GridLayout rows="auto,auto" width="90%" height="100%">
                    <StackLayout row="0" height="80%" width="100%">
                        <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"
                            (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)"
                            (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker>
                    </StackLayout>
                    <StackLayout row="1" height="20%" width="100%" verticalAlignment="middle">
                        <Button class="okButton" text="Ok" (tap)="onOkDate()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="16%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout width="100%" height="7%" verticalAlignment="top" marginTop="35%">
                <GridLayout *ngIf="isSingleHoliday" width="100%" height="100%" verticalAlignment="middle"
                    columns="auto,auto">
                    <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                        <Button class="holidayUnselectButton" text="Single holiday" (tap)="onSingleHoliday()"></Button>
                    </StackLayout>
                    <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                        <Button class="holidaySelectButton" text="Multiple holidays"
                            (tap)="onMultipleHoliday()"></Button>
                    </StackLayout>
                </GridLayout>
                <GridLayout *ngIf="!isSingleHoliday" width="100%" height="100%" verticalAlignment="middle"
                    columns="auto,auto">
                    <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                        <Button class="holidaySelectButton" text="Single holiday" (tap)="onSingleHoliday()"></Button>
                    </StackLayout>
                    <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                        <Button class="holidayUnselectButton" text="Multiple holidays"
                            (tap)="onMultipleHoliday()"></Button>
                    </StackLayout>
                </GridLayout>
            </GridLayout>

            <GridLayout #grid rows="auto,auto,auto,auto,auto" height="40%" width="90%" marginTop="40%"
                backgroundColor="#FFFFFF" borderRadius="10" (loaded)="onGridLoaded($event)">

                <StackLayout *ngIf="isSingleHoliday" row="0" width="90%" height="25%" marginTop="5%">
                    <Button class="holidayUnselectButton" [text]="singleDate" (tap)="onSingleDate()"></Button>
                </StackLayout>

                <GridLayout *ngIf="!isSingleHoliday" row="0" width="100%" height="25%" marginTop="5%"
                    columns="auto,auto">
                    <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                        <Button class="holidayUnselectButton" [text]="fromDate" (tap)="onFromDate()"></Button>
                    </StackLayout>
                    <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                        <Button class="holidayUnselectButton" [text]="toDate" (tap)="onToDate()"></Button>
                    </StackLayout>
                </GridLayout>

                <!-- <StackLayout row="1" width="90%" height="10%" verticalAlignment="middle">
                    <Label text="Select holiday type" fontSize="16%" color="#A61F21" textAlignment="center"></Label>
                </StackLayout>

                <GridLayout row="2" width="100%" height="10%" marginTop="5%">
                    <GridLayout *ngIf="isNormalHoliday" width="100%" height="100%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="holidaySelectButton" text="Normal holiday"
                                (tap)="onNormalHoliday()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="holidayUnselectButton" text="Event holiday"
                                (tap)="onEventHoliday()"></Button>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout *ngIf="!isNormalHoliday" width="100%" height="100%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="holidayUnselectButton" text="Normal holiday"
                                (tap)="onNormalHoliday()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="holidaySelectButton" text="Event holiday"
                                (tap)="onEventHoliday()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout> -->


                <StackLayout row="3" width="90%" height="25%" marginTop="10%">
                    <TextField [hint]="holidayHint" (textChange)="onHolidayTextChanged($event)" secure="false"
                        [borderColor]="holidayBorderColor" color="#A61F21" returnKeyType="done" autocorrect="false" fontSize="16%"
                        class="input input-border input-field">
                    </TextField>
                </StackLayout>

                <StackLayout row="4" width="80%" height="25%" marginTop="10%">
                    <Button class="submitButton" text="Submit Holiday" (tap)="onSubmitHoliday()"></Button>
                </StackLayout>

            </GridLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Holidays and Events"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="sessionYear"></Label>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>