  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }
  
  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }

  .leaveHeading{
    font-size:16;
    font-weight:500;
    color: black;
  }
  .leaveDetail{
    font-size:16;
    font-weight:300;
    color: #A61F21;
  }
  
  .backArrow{
    width:40;
    height:40;
  }

  .viewLeaveButton{
    width:90%;
    height: 90%;
    border-radius:100;
    border-color:#D9D9D9;
    border-width:1;
    background-color:#A61F21;
    color: #FFFFFF;
    font-weight:500;
    font-size:16;
    padding:0;
  }
  .viewLeaveButton:highlighted{
    background-color: #FFFFFF;
    border-color: #D9D9D9;
    color:#A61F21;
  }
  .leaveUnselectButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    padding:0;
    font-size:14%;
  }
  .leaveUnselectButton:highlighted{
    background-color: #A61F21;
    border-color: white;
    color:white
  }
  .leaveSelectButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    padding:0;
    font-size:14%;
  }
  .leaveSelectButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }