<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
                <StackLayout width="100%" height="65%" marginTop="10%">
                    <GridLayout [visibility]="userType=='classIncharge'?'collapse':'visible'" width="100%" height="10%">
                        <GridLayout *ngIf="isHalfDayLeave" width="100%" height="100%" verticalAlignment="middle"
                            columns="auto,auto">
                            <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                                <Button class="leaveUnselectButton" text="Half day leave"
                                    (tap)="onHalfDayLeave()"></Button>
                            </StackLayout>
                            <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                                <Button class="leaveSelectButton" text="Full day leave"
                                    (tap)="onFullDayLeave()"></Button>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout *ngIf="!isHalfDayLeave" width="100%" height="100%" verticalAlignment="middle"
                            columns="auto,auto">
                            <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                                <Button class="leaveSelectButton" text="Half day leave"
                                    (tap)="onHalfDayLeave()"></Button>
                            </StackLayout>
                            <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                                <Button class="leaveUnselectButton" text="Full day leave"
                                    (tap)="onFullDayLeave()"></Button>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                    <!-- <GridView height="65%" width="100%" [items]="leaves" marginTop="10%" colWidth="90%" rowHeight="40%"> -->
                    <RadListView *ngIf="isHalfDayLeave" [height]="userType=='classIncharge'?'100%':'85%'" width="100%"
                        [items]="halfDayLeaves" [marginTop]="userType=='classIncharge'?'0%':'5%'" colWidth="90%"
                        rowHeight="40%">
                        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                        </ListViewStaggeredLayout>
                        <ng-template let-item="item" let-odd="odd" let-i="index">
                            <GridLayout marginLeft="5" marginBottom="10" marginTop="5" marginRight="5"
                                orientation="vertical" borderColor="#A61F21" backgroundColor="#FFFFFF" borderWidth="1"
                                class="list-group-item" androidElevation="2" borderRadius="10" [class.odd]=" odd"
                                (tap)="onHalfDayLeaveClick(item)" verticalAlignment="middle" rows="auto,auto,auto,auto">
                                <GridLayout row="0" columns="auto,auto" width="90%" height="25">
                                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveHeading" text="Name :"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveDetail" textWrap="true" [text]="item.name"></Label>
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="1" columns="auto,auto" width="90%" height="25">
                                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveHeading" text="Class (Section) :"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle"
                                        orientation="horizontal">
                                        <Label class="leaveDetail" verticalAlignment="middle" textWrap="true"
                                            [text]="item.class+' ('+item.section+')'"></Label>
                                        <!-- <Label class="leaveDetail" verticalAlignment="middle" textWrap="true"
                                        text=" ("></Label>
                                    <Label class="leaveDetail" verticalAlignment="middle" textWrap="true"
                                        [text]="item.section"></Label>
                                    <Label class="leaveDetail" verticalAlignment="middle" textWrap="true"
                                        text=")"></Label> -->
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row=" 2" columns="auto,auto,auto" width="90%" height="30">
                                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveHeading" text="Roll no :"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveDetail" textWrap="true" [text]="item.rollNo"></Label>
                                    </StackLayout>
                                    <StackLayout col="2" width="30%" height="100%" verticalAlignment="middle">
                                        <Button class="viewLeaveButton" text="view"
                                            (tap)="onHalfDayLeaveClick(item)"></Button>
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="3" columns="auto,auto" width="90%" height="25">
                                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveHeading" text="Status :"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveDetail" textWrap="true" [text]="item.status"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                        </ng-template>
                    </RadListView>
                    <RadListView *ngIf="!isHalfDayLeave" [height]="userType=='classIncharge'?'100%':'85%'" width="100%"
                        [items]="fullDayLeaves" [marginTop]="userType=='classIncharge'?'0%':'5%'" colWidth="90%"
                        rowHeight="40%">
                        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                        </ListViewStaggeredLayout>
                        <ng-template let-item="item" let-odd="odd" let-i="index">
                            <GridLayout marginLeft="5" marginBottom="10" marginTop="5" marginRight="5"
                                orientation="vertical" borderColor="#A61F21" backgroundColor="#FFFFFF" borderWidth="1"
                                class="list-group-item" androidElevation="2" borderRadius="10" [class.odd]=" odd"
                                (tap)="onFullDayLeaveClick(item)" verticalAlignment="middle" rows="auto,auto,auto,auto">
                                <GridLayout row="0" columns="auto,auto" width="90%" height="25">
                                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveHeading" text="Name :"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveDetail" textWrap="true" [text]="item.name"></Label>
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="1" columns="auto,auto" width="90%" height="25">
                                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveHeading" text="Class (Section) :"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle"
                                        orientation="horizontal">
                                        <Label class="leaveDetail" verticalAlignment="middle" textWrap="true"
                                            [text]="item.class+' ('+item.section+')'"></Label>
                                        <!-- <Label class="leaveDetail" verticalAlignment="middle" textWrap="true"
                                        text=" ("></Label>
                                    <Label class="leaveDetail" verticalAlignment="middle" textWrap="true"
                                        [text]="item.section"></Label>
                                    <Label class="leaveDetail" verticalAlignment="middle" textWrap="true"
                                        text=")"></Label> -->
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row=" 2" columns="auto,auto,auto" width="90%" height="30">
                                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveHeading" text="Roll no :"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveDetail" textWrap="true" [text]="item.rollNo"></Label>
                                    </StackLayout>
                                    <StackLayout col="2" width="30%" height="100%" verticalAlignment="middle">
                                        <Button class="viewLeaveButton" text="view"
                                            (tap)="onFullDayLeaveClick(item)"></Button>
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="3" columns="auto,auto" width="90%" height="25">
                                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveHeading" text="Status :"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                        <Label class="leaveDetail" textWrap="true" [text]="item.status"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                        </ng-template>
                    </RadListView>
                    <!-- </GridView> -->
                </StackLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill">
                </Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Applied leaves"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="date"></Label>
            </GridLayout>
        </GridLayout>
        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>