<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>

                <!-- <GridView height="65%" width="100%" [items]="folders" marginTop="10%" colWidth="30%" rowHeight="30%"> -->
                <RadListView height="65%" width="100%" [items]="folders" marginTop="10%" colWidth="30%" rowHeight="30%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="3">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout rows="auto,*" marginLeft="5" marginBottom="10" marginRight="5"
                            orientation="vertical" backgroundColor="#D9D9D9" class="list-group-item" [class.odd]="odd"
                            (tap)="onFolderClick(item.id)" verticalAlignment="middle">
                            <Image row="0" width="100%" height="100vh" androidElevation="5" stretch="aspectFill"
                                borderRadius="10" [src]="item.icon">
                            </Image>
                            <Label row="1" color="#A61F21" horizontalAlignment="center" verticalAlignment="middle"
                                textAlignment="center" [text]="item.name" class="list-group-item-text"
                                textWrap="true"></Label>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->

            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
            </GridLayout>

            <StackLayout *ngIf="isData" marginTop="50%" width="90%" height="40%" verticalAlignment="top">
                <Label [text]="galleryMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </StackLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Gallery"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>