<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #uploadProgressDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout height="10%" width="90%" rows="auto,auto" backgroundColor="white" borderRadius="10">
                <StackLayout row="0" height="50%" width="90%" verticalAlignment="middle">
                    <Progress class="progress" color="#A61F21" [value]="uploadProgressValue" maxValue="100">
                    </Progress>
                </StackLayout>
                <StackLayout row="1" height="50%" width="50%" horizontalAlignment="center" verticalAlignment="middle">
                    <Label text="Uploading ..." fontSize="20%" color="#6D7CF1" textAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </CardView>
        <CardView #downloadProgressDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout height="10%" width="90%" rows="auto,auto" backgroundColor="white" borderRadius="10">
                <StackLayout row="0" height="50%" width="90%" verticalAlignment="middle">
                    <Progress class="progress" color="#A61F21" [value]="downloadProgressValue" maxValue="100">
                    </Progress>
                </StackLayout>
                <StackLayout row="1" height="50%" width="50%" horizontalAlignment="center" verticalAlignment="middle">
                    <Label text="Downloading ..." fontSize="20%" color="#6D7CF1" textAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </CardView>
        <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onClassOutsideClick()">
            <StackLayout #classDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onClassDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView [items]="classes" width="100%" height="90%" marginTop="5%" colWidth="100%" rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="classButton" [text]="item.name" (tap)="onClassButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>

                <StackLayout width="100%" height="10%" marginTop="10%">
                    <Button class="selectButton" [text]="selectClassText" (tap)="onSelectClass()"></Button>
                </StackLayout>

                <StackLayout *ngIf="isData" marginTop="20%" width="90%" height="10%">
                    <Label [text]="syllabusMessage" fontSize="16%" color="black" textWrap="true"
                        textAlignment="center"></Label>
                </StackLayout>

                <GridLayout height="45%" width="100%" colWidth="90%" rowHeight="15%" horizontalAlignment="center"
                    rows="auto,auto">
                    <StackLayout row="0" height="50%" width="90%" verticalAlignment="middle">
                        <Label [text]="syllabusName" textAlignment="center" fontSize="18%" fontWeight="500"
                            textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout *ngIf="isVisibleDownload" row="1" height="50%" width="90%" verticalAlignment="middle">
                        <Label text="Click here to download the syllabus." textAlignment="center" color="#A61F21"
                            fontSize="18%" fontWeight="500" textWrap="true" (tap)="downloadSyllabus()"></Label>
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill">
                </Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" text="Syllabus"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" [text]="year"></Label>
            </GridLayout>

            <StackLayout *ngIf="isVisibleUpload" row="1" width="100%" height="10%" verticalAlignment="bottom">
                <Button class="syllabus-button" [text]="uploadSyllabusButton" (tap)="onUpload()"></Button>
            </StackLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>

    </GridLayout>
</Page>