  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .backArrow{
    width:40;
    height:40;
  }

  .heading{
    color:#A61F21;
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
  }
  
  .syllabus-button{
    width:80%;
    height:80%;
    color:white;
    border-radius: 100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
  }
  .syllabus-button:highlighted{
    background-color: #FFFFFF;
    border-color: #A61F21;
    color:#A61F21;
  }

  .uploadFilename{
    font-size: 16;
    color:black;
    text-align: center;
  }
  .uploadMessage{
    font-size: 16;
    color:#6D7CF1;
    text-align: center;
  }

  .selectButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
  }
  .selectButton:highlighted{
    background-color: #A61F21;
    border-color: white;
    color:white
  }
  .classButton{
    width:100%;
    height: 100%;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    font-weight:500;
    font-size:16;
    padding:0;
  }
  .classButton:highlighted{
    background-color: #A61F21;
    border-color: white;
    color:white;
  }