<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #viewHomeworkDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onHomeworkOutsideClick()">
            <StackLayout #homeworkDialog width="80%" height="50%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onHomeworkDialogLoaded($event)">
                <GridLayout rows="auto,auto,auto,auto,auto,auto" width="90%" height="100%">
                    <GridLayout row="0" columns="auto,auto,auto" width="100%" height="10%" verticalAlignment="middle"
                        horizontalAlignment="right">
                        <StackLayout col="0" width="10%" height="100%" verticalAlignment="middle">
                        </StackLayout>
                        <StackLayout col="1" width="80%" height="100%" verticalAlignment="middle">
                            <Label class="subject" [text]="subjectName"></Label>
                        </StackLayout>
                        <StackLayout *ngIf="isVisibleEdit" col="2" width="10%" height="100%" verticalAlignment="middle"
                            (tap)="onHomeworkEdit()">
                            <Image src="res://edit" width="80%" height="80%"></Image>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout row="1" width="90%" height="10%" verticalAlignment="middle">
                        <Label color="black" fontWeight="500" fontSize="16%" text="Homework"
                            textAlignment="center"></Label>
                    </StackLayout>
                    <ScrollView row="2" width="90%" height="30%" verticalAlignment="middle">
                        <Label class="homework" textWrap="true" [text]="homeworkDetail"></Label>
                    </ScrollView>
                    <StackLayout row="3" width="90%" height="10%" verticalAlignment="middle">
                        <Label color="black" fontWeight="500" fontSize="16%" text="Classwork"
                            textAlignment="center"></Label>
                    </StackLayout>
                    <ScrollView row="4" width="90%" height="30%" verticalAlignment="middle">
                        <Label class="homework" textWrap="true" [text]="classworkDetail"></Label>
                    </ScrollView>
                    <GridLayout row="5" width="100%" height="10%" verticalAlignment="middle" columns="auto,auto">
                        <StackLayout col="0" width="45%" marginRight="5%" height="100%" verticalAlignment="middle">
                            <Button *ngIf="isVisibleDelete" class="deleteButton" text="Delete"
                                (tap)="onDeleteHomework()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="45%" marginLeft="5%" height="100%" verticalAlignment="middle">
                            <Button class="cancelButton" text="cancel" (tap)="onCancelHomework()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <CardView #viewDatePickerDialog modal size="lg" duration="100" backgroundColor="transparent">
            <StackLayout #datePickerDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onDatePickerDialogLoaded($event)">
                <GridLayout rows="auto,auto" width="90%" height="100%">
                    <StackLayout row="0" height="80%" width="100%">
                        <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"
                            (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)"
                            (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker>
                    </StackLayout>
                    <StackLayout row="1" height="20%" width="100%" verticalAlignment="middle">
                        <Button class="okButton" text="Ok" (tap)="onOkDate()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onClassOutsideClick()">
            <StackLayout #classDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onClassDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView [items]="classes" width="100%" height="90%" marginTop="5%" colWidth="100%" rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onClassButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>

        <CardView #selectSectionDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onSectionOutsideClick()">
            <StackLayout #sectionDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onSectionDialogLoaded($event)">
                <!-- <GridView *ngIf="isSection" height="90%" width="100%" [items]="sections" marginTop="5%" colWidth="100%"
                    rowHeight="18%"> -->
                <RadListView *ngIf="isSection" [items]="sections" width="100%" height="90%" marginTop="5%"
                    colWidth="100%" rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onSectionButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
                <StackLayout *ngIf="!isSection" width="100%" height="50%" verticalAlignment="middle">
                    <Label text="There is no sections added." fontSize="16%" textWrap="true"
                        textAlignment="center"></Label>
                </StackLayout>
            </StackLayout>
        </CardView>

        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" text="Homework"></Label>
            </GridLayout>

            <GridLayout *ngIf="isDatePicker" marginTop="25%" width="35%" height="8%" horizontalAlignment="right"
                verticalAlignment="top">
                <StackLayout width="80%" height="100%" verticalAlignment="middle" (tap)="onDate()">
                    <Button class="dateButton" [text]="date"></Button>
                </StackLayout>
            </GridLayout>

            <!-- <GridLayout *ngIf="isDatePicker" marginTop="33%" width="100%" height="7%" verticalAlignment="Top">
                <StackLayout width="50%" height="100%" verticalAlignment="middle" (tap)="onDate()">
                    <Button class="dateButton" [text]="date"></Button>
                </StackLayout>
            </GridLayout> -->

            <GridLayout marginTop="33%" width="100%" height="7%" verticalAlignment="Top" columns="auto,auto">
                <StackLayout *ngIf="isClassPicker" col="0" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onClass()">
                    <Button class="classButton" [text]="classButton"></Button>
                </StackLayout>
                <StackLayout *ngIf="isSectionPicker" col="1" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onSection()">
                    <Button class="classButton" [text]="sectionButton"></Button>
                </StackLayout>
            </GridLayout>

            <StackLayout *ngIf="isData" marginTop="50%" width="90%" height="10%" verticalAlignment="top">
                <Label [text]="homeworkMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </StackLayout>

            <!-- <GridView [height]="height" width="100%" [items]="homeworkList" [marginTop]="marginTop" colWidth="90%"
                [rowHeight]="rowHeight" verticalAlignment="top"> -->
            <RadListView [items]="homeworkList" [height]="height" width="100%" [marginTop]="marginTop" colWidth="90%"
                [rowHeight]="rowHeight" verticalAlignment="top">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout rows="auto,auto,auto" backgroundColor="#FFFFFF" marginLeft="10"
                        marginRight="10" marginBottom="10" orientation="vertical" borderRadius="8%"
                        verticalAlignment="stretch" androidElevation="5" borderRadius="10"
                        (tap)="onHomeworkClick(item)">
                        <GridLayout row="0" width="100%" height="auto" columns="auto,auto">
                            <StackLayout col="0" width="70%" height="30vh" verticalAlignment="middle">
                                <Label class="subject" [text]="item.subjectName"></Label>
                            </StackLayout>
                            <StackLayout col="1" width="30%" height="30vh" verticalAlignment="middle">
                                <Button class="viewHomeworkButton" text="view" (tap)="onHomeworkClick(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                        <StackLayout row="1" width="90%" height="auto" marginTop="5" verticalAlignment="middle"
                            orientation="horizontal">
                            <Label color="black" fontWeight="500" fontSize="16%" text="Classwork: "></Label>
                            <Label class="homework" [text]="item.classwork"></Label>
                        </StackLayout>
                        <StackLayout row="2" width="90%" height="auto" marginTop="5" verticalAlignment="middle"
                            orientation="horizontal">
                            <Label color="black" fontWeight="500" fontSize="16%" text="Homework: "></Label>
                            <Label class="homework" [text]="item.homework"></Label>
                        </StackLayout>
                        <!-- <StackLayout row="1" width="90%" height="70%" orientation="horizontal">
                            <TextField [hint]="homeworkHint" (textChange)="onHomeworkTextChanged(i,$event)"
                                secure="false" [borderColor]="homeworkBorderColor" returnKeyType="done"
                                (returnPress)="onReturnPress($event)" autocorrect="false"
                                class="input input-border input-field">
                            </TextField>
                        </StackLayout> -->
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->

            <GridLayout *ngIf="isVisibleAddButton" height="10%" marginTop="90%" verticalAlignment="top">
                <StackLayout width="100%" height="100%" verticalAlignment="middle">
                    <Button class="addButton" text="Add homework" (tap)="onAddHomework()"></Button>
                </StackLayout>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#A61F21" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>