  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .heading{
    color:#A61F21;
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
  }

  .syllabusButton{
    width:100%;
    height:100%;
    color:white;
    border-radius: 100;
    border-color:white;
    border-width:1;
    background-color:transparent;
  }
  .syllabusButton:highlighted{
    background-color: #FFF7F7;
    border-color: #6D7CF1;
    color:#6D7CF1;
  }
  
  .dateArrow{
    width:30;
    height:30;
  }

  .input-field{
    placeholder-color:black;
    border-bottom-width: 1;
    height:80%;
    width:100%;
    color:white;
}

.addButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  padding:0;
  font-size: 16%;
}
.addButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}

.deleteButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#FFFFFF;
  border-width:1;
  background-color:#A61F21;
  color: #FFFFFF;
  padding:0;
  font-size: 14%;
}
.deleteButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}

.okButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#FFFFFF;
  border-width:1;
  background-color:#A61F21;
  color: white;
  padding:0;
  font-size: 14%;
}
.okButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}

.cancelButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:#FFFFFF;
  color: #A61F21;
  padding:0;
  font-size: 14%;
}
.cancelButton:highlighted{
  background-color: #A61F21;
  border-color: #FFFFFF;
  color:#FFFFFF
}

.classButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:white;
  color: #A61F21;
  padding:0;
  font-size: 16%;
}
.classButton:highlighted{
  background-color: #A61F21;
  border-color: white;
  color:white
}

.dateButton{
  width:90%;
  height: 80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  font-weight:500;
  font-size:14%;
  padding:0;
}
.dateButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21;
}

.classDialogButton{
  width:100%;
  height: 100%;
  border-color:#A61F21;
  border-width:1;
  background-color:#FFFFFF;
  color: #A61F21;
  font-weight:500;
  font-size:14%;
  padding:0;
}
.classDialogButton:highlighted{
  background-color: #A61F21;
  border-color: #FFFFFF;
  color:#FFFFFF;
}

.subject{
  color:#A61F21;
  font-size:18; 
  font-weight:500;
  text-align:center;
}

.homework{
  color:black;
  font-size: 16%;
  font-weight: 300;
}
.backArrow{
  width:40;
  height:40;
}

.viewHomeworkButton{
  width:90%;
  height: 80%;
  border-radius:100;
  border-color:#D9D9D9;
  border-width:1;
  background-color:#A61F21;
  color: #D9D9D9;
  font-weight:500;
  font-size:14%;
  padding:0;
}
.viewHomeworkButton:highlighted{
  background-color: #FFFFFF;
  border-color: #A61F21;
  color:#A61F21;
}