.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .backArrow{
    width:40;
    height:40;
  }

  .icons{
      padding: 10;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }

  .input-field{
    placeholder-color:black;
    border-bottom-width: 1;
    height:80%;
    width:100%;
    color:#A61F21;
}

.applyLeaveButton{
  width:100%;
  height:80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#3542B6;
  color: white;
  font-weight:500;
  font-size:20;
  padding:0;
}
.applyLeaveButton:highlighted{
  background-color: white;
  border-color: #3542B6;
  color:#3542B6
}

.feeHeading{
  font-size:16%;
  color:black;
}

.addFeesButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#D9D9D9;
  border-width:1;
  background-color:#A61F21;
  color: #FFFFFF;
  font-weight:500;
  font-size:16%;
  padding:0;
}
.addFeesButton:highlighted{
  background-color: #FFFFFF;
  border-color: #A61F21;
  color:#A61F21
}