<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill">
                </Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Add fees"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout *ngIf="!isEdit" marginTop="34%" width="50%" height="8%" verticalAlignment="top">
                <TextField [hint]="admissionNoHint" (textChange)="onAdmissionNoTextChanged($event)" secure="false"
                    [borderColor]="admissionNoBorderColor" returnKeyType="done" autocorrect="false" padding="0"
                    fontSize="18%" textAlignment="center" keyboardType="number" hintColor="#888888" color="black"
                    class="input input-border input-field">
                </TextField>
            </GridLayout>
            <GridLayout *ngIf="isEdit" marginTop="34%" width="80%" height="8%" verticalAlignment="top"
                columns="auto,auto">
                <StackLayout col="0" width="60%" height="100%" verticalAlignment="middle">
                    <Label text="Admission number : " fontSize="18%" textAlignment="center" color="black"></Label>
                </StackLayout>
                <StackLayout col="1" width="40%" height="100%" verticalAlignment="middle">
                    <Label [text]="admissionNo" fontSize="18%" textAlignment="center" color="black"></Label>
                </StackLayout>
            </GridLayout>

            <!-- <GridView height="57%" width="100%" [items]="feeChargesList" marginTop="43%" colWidth="90%" rowHeight="28%"> -->
            <RadListView height="57%" width="100%" [items]="feeChargesList" marginTop="43%" colWidth="90%"
                rowHeight="28%">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout height="70%" marginLeft="5" marginRight="5" marginBottom="5" orientation="vertical"
                        borderRadius="10" backgroundColor="#FFFFFF" class="list-group-item"
                        androidElevation="5" [class.odd]="odd" verticalAlignment="middle">
                        <GridLayout height="auto" width="95%" columns="auto,auto">
                            <StackLayout col="0" width="70%" height="auto" verticalAlignment="middle">
                                <Label class="feeHeading" [text]="item.headName" textWrap="true"
                                    textAlignment="left"></Label>
                            </StackLayout>
                            <GridLayout col="1" width="30%" height="auto" rows="auto,auto">
                                <StackLayout row="0" width="100%" height="30" verticalAlignment="middle">
                                    <TextField [hint]="feeChargesHint" [text]="item.dueAmount"
                                        (textChange)="onfeeChargesTextChanged($event,item.sno)" secure="false"
                                        [borderColor]="feeChargesBorderColor" returnKeyType="done" autocorrect="false"
                                        padding="0" fontSize="16%" textAlignment="center" keyboardType="number"
                                        class="input input-border input-field">
                                    </TextField>
                                </StackLayout>
                                <StackLayout row="1" width="100%" height="30" verticalAlignment="middle">
                                    <Button class="addFeesButton" [text]="item.type=='add'?'Add':'Update'"
                                        (tap)="onAddFees(item)"></Button>
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->

            <!-- <GridLayout #grid rows="auto,auto" height="60%" width="90%" marginTop="33%" backgroundColor="#6D7CF1"
                borderRadius="10" (loaded)="onGridLoaded($event)" rows="auto,auto,auto,auto,auto,auto,auto,auto">

                <StackLayout row="0" height="11%" width="50%">
                    <TextField [hint]="admissionNoHint" (textChange)="onAdmissionNoTextChanged($event)" secure="false"
                        [borderColor]="admissionNoBorderColor" returnKeyType="done" autocorrect="false" padding="0"
                        fontSize="16%" textAlignment="center" keyboardType="number" hintColor="#888888"
                        class="input input-border input-field">
                    </TextField>
                </StackLayout>
                <GridLayout row="1" height="13%" width="95%" columns="auto,auto">
                    <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                        <Label class="feeHeading" text="Registration fee" textAlignment="left"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                        <TextField [hint]="registrationFeeHint" (textChange)="onRegistrationFeeTextChanged($event)"
                            secure="false" [borderColor]="registrationFeeBorderColor" returnKeyType="done"
                            autocorrect="false" padding="0" fontSize="16%" textAlignment="center" keyboardType="number"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="2" height="13%" width="95%" columns="auto,auto">
                    <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                        <Label class="feeHeading" text="Admission fee one time" textAlignment="left"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="30%" height="100%" columns="auto,auto" verticalAlignment="middle">
                        <TextField [hint]="admissionFeeHint" (textChange)="onAdmissionFeeTextChanged($event)"
                            secure="false" [borderColor]="admissionFeeBorderColor" returnKeyType="done"
                            autocorrect="false" padding="0" fontSize="16%" textAlignment="center" keyboardType="number"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="3" height="13%" width="95%" columns="auto,auto">
                    <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                        <Label class="feeHeading" text="Admission fee one time" textAlignment="left"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="30%" height="100%" columns="auto,auto" verticalAlignment="middle">
                        <TextField [hint]="admissionFeeHint" (textChange)="onAdmissionFeeTextChanged($event)"
                            secure="false" [borderColor]="admissionFeeBorderColor" returnKeyType="done"
                            autocorrect="false" padding="0" fontSize="16%" textAlignment="center" keyboardType="number"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="4" height="13%" width="95%" columns="auto,auto">
                    <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                        <Label class="feeHeading" text="Admission fee one time" textAlignment="left"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                        <TextField [hint]="admissionFeeHint" (textChange)="onAdmissionFeeTextChanged($event)"
                            secure="false" [borderColor]="admissionFeeBorderColor" returnKeyType="done"
                            autocorrect="false" padding="0" fontSize="16%" textAlignment="center" keyboardType="number"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="5" height="13%" width="95%" columns="auto,auto">
                    <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                        <Label class="feeHeading" text="Admission fee one time" textAlignment="left"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                        <TextField [hint]="admissionFeeHint" (textChange)="onAdmissionFeeTextChanged($event)"
                            secure="false" [borderColor]="admissionFeeBorderColor" returnKeyType="done"
                            autocorrect="false" padding="0" fontSize="16%" textAlignment="center" keyboardType="number"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="6" height="13%" width="95%" columns="auto,auto">
                    <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                        <Label class="feeHeading" text="Admission fee one time" textAlignment="left"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                        <TextField [hint]="admissionFeeHint" (textChange)="onAdmissionFeeTextChanged($event)"
                            secure="false" [borderColor]="admissionFeeBorderColor" returnKeyType="done"
                            autocorrect="false" padding="0" fontSize="16%" textAlignment="center" keyboardType="number"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                </GridLayout> -->

            <!-- <StackLayout row="1" width="90%" height="15%" marginTop="20%">
                    <Button class="applyLeaveButton" text="Apply leave" (tap)="onApplyLeave()"></Button>
                </StackLayout> -->
            <!-- </GridLayout> -->
        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>