<Page actionBarHidden="true">
    <GridLayout class="page">

        <CardView #datePickerDialog modal size="lg" duration="100" backgroundColor="transparent">
            <StackLayout width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1" borderRadius="5"
                backgroundColor="#D9D9D9" borderRadius="10" androidElevation="5">
                <GridLayout rows="auto,auto" width="90%" height="100%">
                    <StackLayout row="0" height="80%" width="100%">
                        <DatePicker (loaded)="onPickerLoaded($event)" (dayChange)="onDayChanged($event)"
                            (monthChange)="onMonthChanged($event)" (yearChange)="onYearChanged($event)"
                            verticalAlignment="center"></DatePicker>
                    </StackLayout>
                    <StackLayout row="1" height="20%" width="100%" verticalAlignment="middle">
                        <Button class="okButton" text="Ok" (tap)="onOkDate()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill">
                </Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Apply leave"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout height="7%" width="80%" verticalAlignment="bottom">
                <Button class="applyLeaveButton" text="View Leaves" (tap)="onViewLeaves()"></Button>
            </GridLayout>

            <StackLayout height="50%" width="90%" marginTop="35%" backgroundColor="#FFFFFF" borderRadius="10"
                androidElevation="5" orientation="vertical">

                <GridLayout width="100%" height="12%" verticalAlignment="top">
                    <GridLayout *ngIf="isHalfDayLeave" width="100%" height="100%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveUnselectButton" text="Half day leave" (tap)="onHalfDayLeave()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveSelectButton" text="Full day leave" (tap)="onFullDayLeave()"></Button>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout *ngIf="!isHalfDayLeave" width="100%" height="100%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveSelectButton" text="Half day leave" (tap)="onHalfDayLeave()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveUnselectButton" text="Full day leave" (tap)="onFullDayLeave()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>

                <GridLayout *ngIf="!isHalfDayLeave" width="100%" height="12%" marginTop="5%">
                    <GridLayout *ngIf="isOneDayLeave" width="100%" height="100%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveUnselectButton" text="One day leave" (tap)="onOneDayLeave()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveSelectButton" text="Multiple days leave"
                                (tap)="onMultipleDaysLeave()"></Button>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout *ngIf="!isOneDayLeave" width="100%" height="100%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveSelectButton" text="One day leave" (tap)="onOneDayLeave()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveUnselectButton" text="Multiple day leave"
                                (tap)="onMultipleDaysLeave()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>

                <StackLayout *ngIf="!isHalfDayLeave" width="100%" height="12%" marginTop="5%">
                    <StackLayout *ngIf="isOneDayLeave" row="0" width="50%" height="100%">
                        <Button class="leaveUnselectButton" [text]="singleDate" (tap)="onSingleDate()"></Button>
                    </StackLayout>
                    <GridLayout *ngIf="!isOneDayLeave" row="0" width="100%" height="100%" columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveUnselectButton" [text]="fromDate" (tap)="onFromDate()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveUnselectButton" [text]="toDate" (tap)="onToDate()"></Button>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>

                <GridLayout *ngIf="isShowReason" height="15%" width="80%" marginTop="5%">
                    <TextField [hint]="reasonHint" (textChange)="onReasonTextChanged($event)" secure="false"
                        [borderColor]="reasonBorderColor" returnKeyType="done" autocorrect="false"
                        class="input input-border input-field">
                    </TextField>
                </GridLayout>

                <GridLayout *ngIf="isShowReason" height="15%" width="100%" marginTop="5%">
                    <Button class="applyLeaveButton" text="Apply leave" (tap)="onApplyLeave()"></Button>
                </GridLayout>

            </StackLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#A61F21" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>