<Page>
    <GridLayout class="page">
        <!-- <CardView #selectChargesDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onChargesOutsideClick()">
            <StackLayout #chargesDialog width="80%" height="40%" borderColor="white" borderWidth="1" borderRadius="5"
                backgroundColor="#6D7CF1" (loaded)="onChargesDialogLoaded($event)">
                <GridView height="90%" width="100%" [items]="feeChargesList" marginTop="5%" colWidth="100%"
                    rowHeight="18%">
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="90%" verticalAlignment="middle">
                                <Button class="chargesButton" [text]="item.headName"
                                    (tap)="onChargesButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </GridView>
            </StackLayout>
        </CardView> -->
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout *ngIf="!isStudent" marginTop="34%" width="90%" height="8%" verticalAlignment="top"
                columns="auto,auto">
                <StackLayout col="0" height="100%" width="50%" verticalAlignment="middle">
                    <label text="Admission number" fontSize="18%" color="black"></label>
                </StackLayout>
                <StackLayout col="1" height="100%" width="50%" verticalAlignment="middle">
                    <TextField height="80%" (textChange)="onAdmissionNoTextChanged($event)" secure="false"
                        [borderColor]="admissionNoBorderColor" returnKeyType="done" autocorrect="false" padding="0"
                        fontSize="18%" textAlignment="center" keyboardType="number" hintColor="#888888" color="black"
                        class="input input-border input-field">
                    </TextField>
                </StackLayout>
            </GridLayout>

            <!-- <StackLayout height="8%" marginTop="45%" width="100%" verticalAlignment="top">
                <Button *ngIf="isVisible" class="getPayButton" text="Get fee" (tap)="onGetFee()"></Button>
                <Button *ngIf="!isVisible" class="getPayButton" text="Fee received" (tap)="onFeeReceived()"></Button>
            </StackLayout> -->

            <GridLayout *ngIf="!isStudent" height="8%" marginTop="45%" width="100%" verticalAlignment="top"
                columns="auto,auto">
                <StackLayout col="0" width="50%" height="100%">
                    <Button class="feeChargesButton" text="Get fee" (tap)="onGetFee()"></Button>
                </StackLayout>
                <StackLayout col="1" width="50%" height="100%">
                    <Button class="addFeesButton" text="Update fee" (tap)="onUpdateFee()"></Button>
                </StackLayout>
            </GridLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Fees"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout *ngIf="isFeeMessage" marginTop="60%" width="80%" height="10%" verticalAlignment="top">
                <Label fontSize="16%" color="black" [text]="feeMessage" textWrap="true" textAlignment="center"></Label>
            </GridLayout>

            <GridLayout *ngIf="!isVisible" #grid columns="auto,auto" height="10%" width="90%" marginTop="60%"
                verticalAlignment="top" (loaded)="onGridLoaded($event)">

                <GridLayout col="0" rows="auto,auto" width="50%" height="100%" backgroundColor="#6D7CF1">
                    <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                        <Label textAlignment="center" color="white" text="Total fee"></Label>
                    </StackLayout>
                    <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                        <Label textAlignment="center" color="white" [text]="totalFee"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout col="1" rows="auto,auto" width="50%" height="100%" backgroundColor="#A61F21">
                    <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                        <Label textAlignment="center" color="white" text="Balance fee"></Label>
                    </StackLayout>
                    <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                        <Label textAlignment="center" color="white" [text]="balanceFee"></Label>
                    </StackLayout>
                </GridLayout>
                <!-- <GridLayout col="2" rows="auto,auto" width="33%" height="100%" backgroundColor="#FFBB00">
                    <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                        <Label textAlignment="center" color="white" text="Upcoming fee"></Label>
                    </StackLayout>
                    <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                        <Label textAlignment="center" color="white" [text]="upcomingFee"></Label>
                    </StackLayout>
                </GridLayout> -->
            </GridLayout>

            <StackLayout *ngIf="!isVisible" height="8%" marginTop="75%" width="100%" verticalAlignment="top">
                <Button class="moreDetailsButton" text="More detail" (tap)="onMoreDetails()"></Button>
            </StackLayout>

            <GridLayout *ngIf="!isStudent" height="8%" marginTop="85%" width="100%" verticalAlignment="top"
                columns="auto,auto">
                <StackLayout col="0" width="50%" height="100%">
                    <Button class="feeChargesButton" text="Fee Charges" (tap)="onFeeCharges()"></Button>
                </StackLayout>
                <StackLayout col="1" width="50%" height="100%">
                    <Button class="addFeesButton" text="Add New Fees" (tap)="onAddFees()"></Button>
                </StackLayout>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#A61F21" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>

    </GridLayout>
</Page>