.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .backArrow{
    width:40;
    height:40;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }

  .moreDetailsButton{
    width:60%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .moreDetailsButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }
  .feeChargesButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .feeChargesButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }
  .addFeesButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .addFeesButton:highlighted{
    background-color: #A61F21;
    border-color: white;
    color:white
  }

  .chargesButton{
    width:100%;
    height: 100%;
    border-color:#3542B6;
    border-width:1;
    background-color:white;
    color: #3542B6;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .chargesButton:highlighted{
    background-color: #3542B6;
    border-color: white;
    color:white;
  }

  .selectButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#6D7CF1;
    border-width:1;
    background-color:white;
    color: #6D7CF1;
    font-size:14%;
    padding:0;
  }
  .selectButton:highlighted{
    background-color: #6D7CF1;
    border-color: white;
    color:white
  }

  .dialogPayButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#3542B6;
    color: white;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .dialogPayButton:highlighted{
    background-color: white;
    border-color: #3542B6;
    color:#3542B6
  }