TextField {
  border-width: 0 0 .7 0;
  border-bottom-color: transparent;
}

.iconTextField {
  /* padding:7%; */
  box-sizing: border-box;
  /* border-width:1; */
  /* border-right-color: transparent;
  border-top-color:white;
  border-bottom-color: white;
  border-left-color: white;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%; */
}

.textfield-container{
  border-color:#A61F21;
  border-width: 1;
  border-radius: 25%;
  margin-top:2%;
  margin-bottom: 2%;
  width:80%;
  height:auto;
}

.page {
  background-position: center;
  background-image: url("res://background");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  stretch: fill;
  filter: blur(5px);
}

.button {
  border-radius: 25%;
  background-color: #A61F21;
  color: white;
  width: 100%;
  /* z-index: 0; */
}

.button:active {
  color: #A61F21;
  background-color: #D9D9D9;
}

.button-container {
  margin-top: 15;
  border-radius: 25%;
  background-color: #D9D9D9;
  width: 80%;
}