
.page {
  background-position: center;
  background-image: url("res://background");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  stretch: fill;
  filter: blur(5px);
}

.heading{
  color:#A61F21;
  font-size:20%;
  vertical-align: middle;
  text-align:center;
  font-weight:500;
}

.button-submit-attendance{
    background-color: #3542B6;
    color:white;
    font-weight: 500;
    height: 70%;
    width:65%;
    font-size:20%;
    border-radius: 25%;
    text-transform: none;
  }
  
  .button-submit-attendance:active{
    background-color: transparent;
    z-index:500;
  }

  .backArrow{
    width:40;
    height:40;
  }

.classButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:white;
  color: #A61F21;
  padding:0;
  font-size: 16%;
}
.classButton:highlighted{
  background-color: #A61F21;
  border-color: white;
  color:white
}

.dateButton{
  width:90%;
  height: 80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  font-weight:500;
  font-size:16;
  padding:0;
}
.dateButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21;
}

.classDialogButton{
  width:100%;
  height: 100%;
  border-color:#A61F21;
  border-width:1;
  background-color:#FFFFFF;
  color: #A61F21;
  font-weight:500;
  font-size:16;
  padding:0;
}
.classDialogButton:highlighted{
  background-color: #A61F21;
  border-color: #FFFFFF;
  color:#FFFFFF;
}
.okButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#FFFFFF;
  border-width:1;
  background-color:#A61F21;
  color: #FFFFFF;
  padding:0;
  font-size: 16%;
}
.okButton:highlighted{
  background-color: #FFFFFF;
  border-color: #A61F21;
  color:#A61F21
}
.detailHeading{
  color:black;
  font-size:16%;
  vertical-align: middle;
  text-align:center;
  font-weight:500;
}
.detail{
  color:#A61F21;
  font-size:16%;
  vertical-align: middle;
  text-align:center;
  font-weight:500;
}