<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #viewDatePickerDialog modal size="lg" duration="100" backgroundColor="transparent">
            <StackLayout #datePickerDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onDatePickerDialogLoaded($event)">
                <GridLayout rows="auto,auto" width="90%" height="100%">
                    <StackLayout row="0" height="80%" width="100%">
                        <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"
                            (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)"
                            (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker>
                    </StackLayout>
                    <StackLayout row="1" height="20%" width="100%" verticalAlignment="middle">
                        <Button class="okButton" text="Ok" (tap)="onOkDate()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onClassOutsideClick()">
            <StackLayout #classDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onClassDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView [items]="classes" width="100%" height="90%" marginTop="5%" colWidth="100%" rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onClassButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>

        <CardView #selectSectionDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onSectionOutsideClick()">
            <StackLayout #sectionDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onSectionDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="sections" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView [items]="sections" width="100%" height="90%" marginTop="5%" colWidth="100%"
                    rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onSectionButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>

        <CardView #selectRollNoDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onRollNoOutsideClick()">
            <StackLayout #rollNoDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onRollNoDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="rollNumbers" marginTop="5%" colWidth="100%"
                    rowHeight="18%"> -->
                <RadListView [items]="rollNumbers" width="100%" height="90%" marginTop="5%" colWidth="100%"
                    rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="90%" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onRollNumberButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>

        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>

            </StackLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" text="Attendance"></Label>
            </GridLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <StackLayout width="90%" height="100%" verticalAlignment="middle" (tap)="onDate()">
                    <Button class="dateButton" [text]="date"></Button>
                </StackLayout>
            </GridLayout>

            <GridLayout marginTop="33%" width="100%" height="7%" verticalAlignment="Top" columns="auto,auto">
                <StackLayout *ngIf="isClassPicker" col="0" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onClass()">
                    <Button class="classButton" [text]="classButton"></Button>
                </StackLayout>
                <StackLayout *ngIf="isSectionPicker" col="1" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onSection()">
                    <Button class="classButton" [text]="sectionButton"></Button>
                </StackLayout>
            </GridLayout>

            <StackLayout marginTop="41%" width="70%" height="7%" verticalAlignment="top" (tap)="onRollNo()">
                <Button class="classButton" [text]="rollNoButton"></Button>
            </StackLayout>

            <StackLayout *ngIf="isData" marginTop="60%" width="90%" height="10%" verticalAlignment="top">
                <Label [text]="attendanceMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </StackLayout>

            <!-- <GridView height="51%" width="100%" [items]="attendanceList" marginTop="49%" colWidth="90%" rowHeight="35%"> -->
            <RadListView [items]="attendanceList" width="100%" height="51%" marginTop="49%" colWidth="90%"
                rowHeight="35%">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout columns="auto,auto" backgroundColor="#FFFFFF" marginLeft="10" marginRight="10"
                        marginBottom="10" marginTop="5" orientation="vertical" borderRadius="8%"
                        verticalAlignment="stretch" androidElevation="5" (tap)="onAttendanceClick(item)">
                        <GridLayout col="0" rows="auto,auto,auto,auto" width="80%" height="100%">
                            <GridLayout row="0" columns="auto,auto" width="95%" height="25%">
                                <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                    <Label class="detailHeading" text="Name" textAlignment="left"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                    <Label class="detail" [text]="item.name" textAlignment="left"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout row="1" columns="auto,auto" width="95%" height="25%">
                                <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                    <Label class="detailHeading" text="Class" textAlignment="left"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                    <Label class="detail" [text]="item.class" textAlignment="left"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout row="2" columns="auto,auto" width="95%" height="25%">
                                <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                    <Label class="detailHeading" text="Section" textAlignment="left"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                    <Label class="detail" [text]="item.section" textAlignment="left"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout row="3" columns="auto,auto" width="95%" height="25%">
                                <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                    <Label class="detailHeading" text="Roll no." textAlignment="left"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                    <Label class="detail" [text]="item.rollNo" textAlignment="left"></Label>
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                        <GridLayout col="1" rows="auto,auto" width="20%" height="100%">
                            <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                                <Label fontSize="20%" color="black" fontWeight="500" textAlignment="center"
                                    [text]="item.attendancePercentage"></Label>
                            </StackLayout>
                            <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                                <Label fontSize="20%" color="#A61F21" fontWeight="500" textAlignment="center"
                                    [text]="item.attendanceStatus"></Label>
                            </StackLayout>
                        </GridLayout>

                        <!-- <StackLayout row="1" width="90%" height="70%" orientation="horizontal">
                            <TextField [hint]="homeworkHint" (textChange)="onHomeworkTextChanged(i,$event)"
                                secure="false" [borderColor]="homeworkBorderColor" returnKeyType="done"
                                (returnPress)="onReturnPress($event)" autocorrect="false"
                                class="input input-border input-field">
                            </TextField>
                        </StackLayout> -->
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>

    </GridLayout>
</Page>