<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #addSectionDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onSectionOutsideClick()">
            <StackLayout #sectionDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onSectionDialogLoaded($event)">
                <GridLayout height="100%" width="100%" rows="auto,auto,auto">
                    <!-- <StackLayout row="0" width="100%" height="20%" marginTop="10%">
                    <Button class="selectButton" [text]="selectClassText" (tap)="onSelectClass()"></Button>
                </StackLayout> -->
                    <StackLayout row="0" height="20%" width="90%" marginTop="20%">
                        <TextField [hint]="sectionHint" [text]="sectionText" (textChange)="onSectionTextChanged($event)"
                            secure="false" [borderColor]="sectionBorderColor" returnKeyType="done" autocorrect="false"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="1" width="50%" height="20%" marginTop="20%">
                        <Button class="dialogAddButton" [text]="dialogAddButton" (tap)="onAdd()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>
        <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onClassOutsideClick()">
            <StackLayout #classDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onClassDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="classButton" [text]="item.name" (tap)="onClassButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>

                <StackLayout width="100%" height="10%" marginTop="10%">
                    <Button class="selectButton" [text]="selectClassText" (tap)="onSelectClass()"></Button>
                </StackLayout>

                <StackLayout *ngIf="isData" marginTop="20%" width="90%" height="10%">
                    <Label [text]="sectionMessage" fontSize="16%" color="black" textWrap="true"
                        textAlignment="center"></Label>
                </StackLayout>

                <!-- <GridView height="45%" width="100%" [items]="sections" colWidth="90%" rowHeight="20%"> -->
                <RadListView height="45%" width="100%" [items]="sections" colWidth="90%" rowHeight="20%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout height="70%" marginLeft="5" marginRight="5" marginBottom="10" orientation="vertical"
                            borderRadius="10" backgroundColor="#FFFFFF" borderWidth="1" class="list-group-item"
                            [class.odd]="odd" verticalAlignment="middle" androidElevation="5">
                            <GridLayout width="100%" height="100%" orientation="horizontal" columns="auto,auto,auto">
                                <StackLayout col="0" width="60%" height="40" verticalAlignment="middle">
                                    <Label fontSize="18" color="#A61F21" textAlignment="center" fontWeight="500"
                                        [text]="item.name"></Label>
                                </StackLayout>
                                <GridLayout col="1" width="40%" height="40" columns="auto,auto">
                                    <StackLayout col="0" width="70%" height="90%" verticalAlignment="middle">
                                        <Button class="activeInactiveButton"
                                            [text]="item.status=='active'?'Inactive':'Active'"
                                            (tap)="onActiveInactiveButton(item)"></Button>
                                    </StackLayout>
                                    <StackLayout col="2" width="30%" height="40" verticalAlignment="middle"
                                        (tap)="onEdit(item)">
                                        <Image width="60%" height="60%" src="res://edit"></Image>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Sections"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout marginTop="90%" width="100%" height="10%" horizontalAlignment="right" verticalAlignment="top">
                <Button class="addSectionButton" text="Add section" (tap)="onAddSection()"></Button>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>