  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }
  .backArrow{
    width:40;
    height:40;
}
  
  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }
  .addImageButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:20;
    padding:0;
  }
  .addImageButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }
/* .deleteButton{
  width:100%;
  height:100%;
  padding:0;
  font-weight:bold;
  background-color:#6D7CF1;
  border-color:white;
  color:white;
  font-size: 20%;
  border-radius: 30%;
  border-width:1;
}
.deleteButton:highlighted{
  background-color: transparent;
  border-color: #6D7CF1;
  color: #6D7CF1;
} */
.dialogDeleteButton{
  width:40%;
  height:90%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  font-weight:500;
  font-size:20;
  padding:0;
}
.dialogDeleteButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21;
}
.dialogUpdateButton{
  width:40%;
  height:90%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  font-weight:500;
  font-size:20;
  padding:0;
}
.dialogUpdateButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}
.dialogCancelButton{
  width:40%;
  height:90%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:white;
  color: #A61F21;
  font-weight:500;
  font-size:20;
  padding:0;
}
.dialogCancelButton:highlighted{
  background-color: #A61F21;
  border-color: white;
  color:white
}