<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #selectTeacherDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onTeacherOutsideClick()">
            <StackLayout #classDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onTeacherDialogLoaded($event)">
                <!-- <GridView height="90%" width="100%" [items]="teachers" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView height="90%" width="100%" [items]="teachers" marginTop="5%" colWidth="100%"
                    rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button class="teacherDialogButton" [text]="item.name"
                                    (tap)="onTeacherButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>
        </CardView>
        <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout #classDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onClassDialogLoaded($event)" rows="auto,*,auto">
                <StackLayout row="0" height="40" width="90%" marginTop="5">
                    <Button [class]="isSelectedClass==false?'classDialogButton':'selectedClassDialogButton'"
                        [text]="selectClassAllButton" (tap)="onSelectClassAll()"></Button>
                </StackLayout>
                <!-- <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <RadListView row="1" width="100%" [items]="allClasses" marginTop="3%" marginBottom="3%" colWidth="100%"
                    rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button [class]="item.isSelected==false?'classDialogButton':'selectedClassDialogButton'"
                                    [text]="item.name" (tap)="onClassButton(item,i)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
                <StackLayout row="2" height="40" width="50%" marginBottom="5">
                    <Button class="selectedClassDialogButton" text="ok" (tap)="onClassOk()"></Button>
                </StackLayout>
            </GridLayout>
        </CardView>
        <CardView #selectSectionDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout #sectionDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onSectionDialogLoaded($event)" rows="auto,*,auto">
                <!-- <GridView height="90%" width="100%" [items]="sections" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
                <StackLayout row="0" height="40" width="90%" marginTop="5">
                    <Button [class]="isSelectedSection==false?'classDialogButton':'selectedClassDialogButton'"
                        [text]="selectSectionAllButton" (tap)="onSelectSectionAll()"></Button>
                </StackLayout>
                <RadListView row="1" width="100%" [items]="sections" marginTop="3%" marginBottom="3%" colWidth="100%"
                    rowHeight="18%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                                <Button [class]="item.isSelected==false?'classDialogButton':'selectedClassDialogButton'"
                                    [text]="item.classSection" (tap)="onSectionButton(item,i)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <StackLayout row="2" height="40" width="50%" marginBottom="5">
                    <Button class="selectedClassDialogButton" text="ok" (tap)="onSectionOk()"></Button>
                </StackLayout>
                <!-- </GridView> -->
            </GridLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Message"></Label>
            </GridLayout>

            <!-- <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout> -->

            <GridLayout #grid rows="auto,auto,auto" height="55%" width="90%" marginTop="35%" backgroundColor="#FFFFFF"
                borderRadius="10" (loaded)="onGridLoaded($event)">

                <StackLayout *ngIf="isTeacherButton" row="0" width="80%" height="15%" marginTop="15%"
                    (tap)="onSelectTeacher()">
                    <Button class="teacherButton" [text]="teacherButton"></Button>
                </StackLayout>

                <StackLayout *ngIf="isAdmin" row="0" width="80%" height="15%" marginTop="15%" (tap)="onClass()">
                    <Button class="teacherButton" [text]="classButton"></Button>
                </StackLayout>

                <StackLayout row="1" width="90%" height="20%" marginTop="10%">
                    <TextField [hint]="messageHint" [text]="answer" (textChange)="onMessageTextChanged($event)"
                        secure="false" [borderColor]="messageBorderColor" returnKeyType="done" autocorrect="false"
                        class="input input-border input-field">
                    </TextField>
                </StackLayout>

                <StackLayout row="2" width="90%" height="20%" marginTop="10%">
                    <Button class="sendMessageButton" text="Send" (tap)="onSendMessage()"></Button>
                </StackLayout>

            </GridLayout>
        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>