.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .backArrow{
    width:40;
    height:40;
  }

  .icons{
      padding: 10;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }

  .input-field{
    placeholder-color:black;
    border-bottom-width: 1;
    height:80%;
    width:100%;
    color:#A61F21;
}

.sendMessageButton{
  width:100%;
  height:80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  font-weight:500;
  font-size:20;
  padding:0;
}
.sendMessageButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}

.teacherButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:white;
  color: #A61F21;
  padding:0;
  font-size: 16%;
}
.teacherButton:highlighted{
  background-color: #A61F21;
  border-color: white;
  color:white
}

.teacherDialogButton{
  width:100%;
  height: 100%;
  border-color:#A61F21;
  border-width:1;
  background-color:#FFFFFF;
  color: #A61F21;
  font-weight:500;
  font-size:16;
  padding:0;
}
.teacherDialogButton:highlighted{
  background-color: #A61F21;
  border-color: #FFFFFF;
  color:#FFFFFF;
}
.classButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:white;
  color: #A61F21;
  padding:0;
  font-size: 16%;
}
.classButton:highlighted{
  background-color: #A61F21;
  border-color: white;
  color:white
}
.classDialogButton{
  width:100%;
  height: 100%;
  border-color:#A61F21;
  border-width:1;
  background-color:#FFFFFF;
  color: #A61F21;
  font-weight:500;
  font-size:16;
  padding:0;
}
.selectedClassDialogButton{
  background-color: #A61F21;
  border-color: #FFFFFF;
  color:#FFFFFF;
  width:100%;
  height: 100%;
  border-width:1;
  font-weight:500;
  font-size:16;
  padding:0;
}