<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #payFeeDialog modal size="lg" duration="100" backgroundColor="transparent">
            <StackLayout #payFeeDialog width="80%" height="auto" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onPayFeeDialogLoaded($event)">
                <GridLayout height="auto" width="100%" rows="auto,auto,auto,auto,auto,auto,auto,auto">
                    <StackLayout row="0" height="8%" width="95%" marginTop="3%">
                        <TextField [hint]="receiptHint" [text]="receiptNumber"
                            (textChange)="onReceiptTextChanged($event)" secure="false"
                            [borderColor]="receiptBorderColor" returnKeyType="done" autocorrect="false"
                            keyboardType="number" fontSize="16%" color="#A61F21" class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="1" height="8%" width="95%">
                        <TextField [hint]="payFeeHint" [text]="payFee" (textChange)="onPayFeeTextChanged($event)"
                            secure="false" [borderColor]="payFeeBorderColor" returnKeyType="done" autocorrect="false"
                            keyboardType="number" fontSize="16%" color="#A61F21" class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                    <GridLayout row="2" *ngIf="isCash" width="100%" height="8%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="transUnselectButton" text="By cash" (tap)="onCash()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="transSelectButton" text="By check" (tap)="onCheck()"></Button>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout row="2" *ngIf="!isCash" width="100%" height="8%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="transSelectButton" text="By cash" (tap)="onCash()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="transUnselectButton" text="By check" (tap)="onCheck()"></Button>
                        </StackLayout>
                    </GridLayout>

                    <StackLayout *ngIf="!isCash" row="3" height="8%" width="95%">
                        <TextField [hint]="transNoHint" [text]="transNo" (textChange)="onTransNoTextChanged($event)"
                            keyboardType="number" secure="false" [borderColor]="transNoBorderColor" returnKeyType="done"
                            autocorrect="false" fontSize="16%" color="#A61F21" class="input input-border input-field">
                        </TextField>
                    </StackLayout>

                    <StackLayout *ngIf="!isCash" row="4" height="8%" width="95%">
                        <TextField [hint]="bankNameHint" [text]="bankName" (textChange)="onBankNameTextChanged($event)"
                            secure="false" [borderColor]="bankNameBorderColor" returnKeyType="done" autocorrect="false"
                            fontSize="16%" color="#A61F21" class="input input-border input-field">
                        </TextField>
                    </StackLayout>

                    <StackLayout *ngIf="!isCash" row="5" height="8%" width="95%">
                        <TextField [hint]="transRemarkHint" [text]="transRemark"
                            (textChange)="onTransRemarkTextChanged($event)" secure="false"
                            [borderColor]="transRemarkBorderColor" returnKeyType="done" autocorrect="false"
                            fontSize="16%" color="#A61F21" class="input input-border input-field">
                        </TextField>
                    </StackLayout>

                    <StackLayout row="6" height="8%" width="95%">
                        <TextField [hint]="remarkHint" [text]="remark" (textChange)="onRemarkTextChanged($event)"
                            secure="false" [borderColor]="remarkBorderColor" returnKeyType="done" autocorrect="false"
                            fontSize="16%" color="#A61F21" class="input input-border input-field">
                        </TextField>
                    </StackLayout>

                    <GridLayout row="7" width="100%" height="8%" columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="payFeesButton" [text]="dialogCancelButton" (tap)="onCancel()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="dialogPayButton" [text]="dialogPayButton" (tap)="onPay()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Fee detail"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout height="8%" width="100%" verticalAlignment="top" marginTop="92%">
                <Button class="payFeesButton" text="Fee Receipts" (tap)="onFeeReceipts()"></Button>
            </GridLayout>

            <StackLayout *ngIf="isData" marginTop="50%" width="90%" height="10%" verticalAlignment="top">
                <Label [text]="feeDetailMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </StackLayout>

            <!-- <GridView height="57%" width="100%" [items]="feeDetail" marginTop="35%" verticalAlignment="top"
                colWidth="90%" rowHeight="30%"> -->
            <RadListView height="57%" width="100%" [items]="feeDetail" marginTop="35%" verticalAlignment="top"
                colWidth="90%" rowHeight="30%">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout rows="auto,auto" backgroundColor="#FFFFFF" marginLeft="10" marginRight="10"
                        marginBottom="10" marginTop="5" orientation="vertical" borderRadius="10" androidElevation="5"
                        verticalAlignment="stretch">
                        <StackLayout row="0" width="90%" height="30%" verticalAlignment="middle">
                            <Label color="#A61F21" fontSize="18%" fontWeight="500" textAlignment="left"
                                [text]="item.feeCharges"></Label>
                        </StackLayout>
                        <GridLayout row="1" columns="auto,auto,auto" width="90%" height="70%">
                            <GridLayout col="0" width="35%" height="100%" rows="auto,auto">
                                <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="black" textAlignment="center" fontWeight="500" fontSize="16"
                                        textWrap="true" text="Total amount"></Label>
                                </StackLayout>
                                <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="#A61F21" textAlignment="center" fontWeight="300" fontSize="16"
                                        textWrap="true" [text]="item.totalAmount"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout col="1" width="40%" height="100%" rows="auto,auto">
                                <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="black" textAlignment="center" fontWeight="500" fontSize="16"
                                        textWrap="true" text="Balance amount"></Label>
                                </StackLayout>
                                <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="#A61F21" textAlignment="center" fontWeight="300" fontSize="16"
                                        textWrap="true" [text]="item.balanceAmount"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout col="2" width="25%" height="auto" rows="auto,auto">
                                <StackLayout *ngIf="!isStudent" row="1" height="30" width="100%"
                                    horizontalAlignment="center" verticalAlignment="middle">
                                    <Button [visibility]="item.balanceAmount==0?'collapse':'visible'"
                                        class="payFeesButton" text="Pay" (tap)="onPayFees(item)"></Button>
                                    <Label [visibility]="item.balanceAmount==0?'visible':'collapse'" text="paid"
                                        color="#A61F21" fontSize="16%" textAlignment="center"
                                        verticalAlignment="middle"></Label>
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->
        </GridLayout>
        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>