.page {
    background-position: center;
    background-image: url("res://splash_blur");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #6D7CF1
  }

  .input-field{
    placeholder-color:black;
    border-bottom-width: 1;
    height:80%;
    width:100%;
    color:white;
}

.downloadButton{
  width:100%;
  height:80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#3542B6;
  color: white;
  font-weight:500;
  font-size:20;
  padding:0;
}
.downloadButton:highlighted{
  background-color: white;
  border-color: #3542B6;
  color:#3542B6
}