<GridLayout class="page" backgroundColor="#FFF7F7">

    <FlexboxLayout width="100%" height="100%" androidStatusBarBackground="transparent" backgroundColor="#FFF7F7">
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#FFF7F7">

            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#FFF7F7">

                <GridLayout height="25%" rows="auto,auto,auto" backgroundColor="#6D7CF1">
                    <Image row="0" src="res://arrow_back" width="30" height="30" marginTop="20%"
                        horizontalAlignment="left" (tap)="onBack()"></Image>
                    <Label row="0" color="white" fontSize="16%" marginTop="20%" horizontalAlignment="center"
                        fontWeight="500" text="Brahmrishi Mission Sr. Sec. School"></Label>
                    <Label row="1" fontSize="16%" horizontalAlignment="center" color="white" fontWeight="500"
                        text="Abohar (Punjab)"></Label>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image src="res://profile" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Download image"></Label>
            </GridLayout>

            <GridLayout #grid rows="auto,auto" height="45%" width="90%" marginTop="40%" backgroundColor="#6D7CF1"
                borderRadius="10" (loaded)="onGridLoaded($event)">

                <StackLayout row="0" width="70%" height="60%" marginTop="5%" backgroundColor="#3542B6" borderColor="white"
                    borderRadius="10" borderWidth="1" verticalAlignment="middle">
                    <Image width="100%" height="100%" [src]="image" ></Image>
                </StackLayout>

                <StackLayout row="1" width="90%" height="20%" marginTop="10%">
                    <Button class="downloadButton" text="Download image" (tap)="onDownload()"></Button>
                </StackLayout>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </FlexboxLayout>

</GridLayout>