  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }
  .backArrow{
    width:40;
    height:40;
}
  
  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }
  .addClassButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:20;
    padding:0;
  }
  .addClassButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }

  .dialogAddButton{
    width:100%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:20;
    padding:0;
  }
  .dialogAddButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }

  .activeInactiveButton{
    width:90%;
    height: 80%;
    border-radius:100;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .activeInactiveButton:highlighted{
    background-color: #A61F21;
    border-color: #d9d9d9;
    color:white;
  }
  