<Page actionBarHidden="true">
    <GridLayout class="page" backgroundColor="#FFF7F7">
        <StackLayout *ngIf="isRendering" width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
            <GridLayout height="15%" columns="auto,auto" marginTop="3%">
                <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                    <Image class="backArrow" src="res://arrow_back_blue"> </Image>
                </StackLayout>
                <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                    <Label row="0" color="#A61F21" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                        text="Brahmrishi Mission Sr. Sec. School"></Label>
                    <Label row="1" fontSize="18%" horizontalAlignment="center" color="#A61F21" fontWeight="500"
                        text="Abohar (Punjab)"></Label>
                </GridLayout>
                <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                </StackLayout>
            </GridLayout>
            <GridLayout #gridMain (loaded)="onGridLoaded($event)" rows="auto,auto,auto, auto, auto, auto,auto"
                borderRadius="5" zIndex="999" backgroundColor="#FFFFFF" row="0" width="90%" height="80%">
                <Image row="0" marginTop="5%" height="30%" width="40%" src="res://logo" stretch="aspectFit">
                </Image>
                <Label row="1" horizontalAlignment="center" color="#A61F21" text="Forgot Password" fontSize="20%"
                    marginTop="2%" marginBottom="2%">
                </Label>
                <StackLayout row="2" class="textfeild-container" orientation="horizontal">
                    <GridLayout class="iconTextField" height="15%" width="20%">
                        <Image height="50%" width="50%" marginRight="15%" horizontalAlignment="right" [src]="otpIcon">
                        </Image>
                    </GridLayout>
                    <TextField hint="OTP" width="100%" color="#A61F21" keyboardType="phone" maxLength="6"
                        style.placeholderColor="#B9B9B9" (textChange)="otpTextField($event)" autocorrect="false">
                    </TextField>
                </StackLayout>
                <StackLayout row="3" class="textfeild-container" orientation="horizontal">
                    <GridLayout class="iconTextField" height="15%" width="20%">
                        <Image height="50%" width="50%" marginRight="15%" horizontalAlignment="right"
                            [src]="passwordIcon"></Image>
                    </GridLayout>
                    <TextField hint="New Password" width="100%" color="#A61F21" style.placeholderColor="#B9B9B9"
                        (textChange)="passwordTextField($event)" autocorrect="false" secure="true">
                    </TextField>
                </StackLayout>
                <StackLayout row="4" class="textfeild-container" orientation="horizontal">
                    <GridLayout class="iconTextField" height="15%" width="20%">
                        <Image height="50%" width="50%" marginRight="15%" horizontalAlignment="right"
                            [src]="passwordIcon"></Image>
                    </GridLayout>
                    <TextField hint="Repeat New Password" width="100%" color="#A61F21" style.placeholderColor="#B9B9B9"
                        (textChange)="rePasswordTextField($event)" autocorrect="false" secure="true">
                    </TextField>
                </StackLayout>
                <StackLayout row="5" class="button-container">
                    <Button text="Confirm" class="font-weight-bold button" ng-click="showme=true"
                        (tap)="onConfirmClick()"></Button>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>