<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #photoUploadDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onOutsideClick()">
            <StackLayout height="20%" width="50%" backgroundColor="white" orientation="vertical">
                <Button class="photoUploadButton" width="100%" text="Gallery" (tap)="onGallery()"></Button>
                <Button class="photoUploadButton" width="100%" text="Camera" (tap)="onCamera()"></Button>
            </StackLayout>
        </CardView>
        <CardView #uploadProgressDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout height="10%" width="90%" rows="auto,auto" backgroundColor="white" borderRadius="10">
                <StackLayout row="0" height="50%" width="90%" verticalAlignment="middle">
                    <Progress class="progress" color="#A61F21" [value]="uploadProgressValue" maxValue="100">
                    </Progress>
                </StackLayout>
                <StackLayout row="1" height="50%" width="50%" horizontalAlignment="center" verticalAlignment="middle">
                    <Label text="Uploading ..." fontSize="20%" color="#A61F21" textAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>
            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh"></Image>
            </GridLayout>
            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="heading"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout #grid rows="auto,auto,auto" height="55%" width="90%" marginTop="35%" backgroundColor="#FFFFFF"
                borderRadius="10" (loaded)="onGridLoaded($event)">

                <StackLayout row="0" width="65%" height="45%" marginTop="5%" backgroundColor="#D9D9D9"
                    borderColor="#A61F21" borderRadius="10" borderWidth="1" verticalAlignment="middle"
                    (tap)="onUploadImage()">
                    <Image *ngIf="isVisibleImage" width="80%" height="90%" [src]="eventImage"></Image>
                    <Image *ngIf="!isVisibleImage" width="80%" height="90%" [src]="eventImage"></Image>
                </StackLayout>

                <StackLayout *ngIf="isRenderingTextField" row="1" width="90%" height="20%" marginTop="5%">
                    <TextField [hint]="nameHint" [text]="eventName" (textChange)="onNameTextChanged($event)"
                        secure="false" [borderColor]="nameBorderColor" returnKeyType="done" autocorrect="false"
                        class="input input-border input-field">
                    </TextField>
                </StackLayout>

                <StackLayout row="2" width="90%" height="20%" marginTop="5%">
                    <Button class="submitButton" text="Submit" (tap)="onSubmit()"></Button>
                </StackLayout>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>