.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

.backArrow{
width:40;
height:40;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }

  .input-field{
    placeholder-color:black;
    border-bottom-width: 1;
    height:80%;
    width:100%;
    color:#A61F21;
}

.submitButton{
  width:100%;
  height:80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  font-weight:500;
  font-size:20;
  padding:0;
}
.submitButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}
.photoUploadButton{
  border-color:#A61F21;
  border-width:1;
  color:#A61F21;
  font-size: 20;
  font-weight: 500;
  text-transform: initial;
  text-align: center;
  height:50%;
  padding:0;
  background-color: white;
}
.photoUploadButton:highlighted{
  background-color: #A61F21;
  border-color:white;
  color:white;
}