<Page actionBarHidden="true">
    <GridLayout class="page" backgroundColor="#FFF7F7">

        <CardView #addChargesDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onOutsideClick()">
            <StackLayout #chargesDialog width="80%" height="35%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onChargesDialogLoaded($event)">
                <GridLayout height="100%" width="100%" rows="auto,auto,auto">
                    <StackLayout row="0" height="25%" width="90%" marginTop="5%">
                        <TextField [hint]="chargesIdHint" [text]="chargesIdText"
                            (textChange)="onChargesIdTextChanged($event)" secure="false"
                            [borderColor]="chargesIdBorderColor" returnKeyType="done" autocorrect="false"
                            keyboardType="number" class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="1" height="25%" width="90%" marginTop="5%">
                        <TextField [hint]="chargesHint" [text]="chargesText" (textChange)="onChargesTextChanged($event)"
                            secure="false" [borderColor]="chargesBorderColor" returnKeyType="done" autocorrect="false"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                    <StackLayout row="2" width="50%" height="30%" marginTop="5%">
                        <Button class="dialogAddButton" [text]="dialogAddButton" (tap)="onAdd()"></Button>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <CardView #deleteChargesDialog modal size="lg" duration="100" backgroundColor="transparent">
            <StackLayout #deleteChargesDialog width="80%" height="20%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onDeleteChargesDialogLoaded($event)">
                <GridLayout rows="auto,auto" width="90%" height="100%">
                    <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                        <Label text="Want to delete fee charge?" fontSize="16%" textWrap="true"
                            textAlignment="center"></Label>
                    </StackLayout>
                    <GridLayout row="1" height="50%" width="100%" columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="cancelButton" text="Cancel" (tap)="onCancel()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="deleteButton" text="Delete" (tap)="onDelete()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </CardView>

        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>

                <!-- <GridView height="57%" width="100%" [items]="chargesList" marginTop="10%" colWidth="90%"
                    rowHeight="30%"> -->
                <RadListView height="57%" width="100%" [items]="chargesList" marginTop="10%" colWidth="90%"
                    rowHeight="30%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout height="70%" marginLeft="5" marginRight="5" marginBottom="10" orientation="vertical"
                            borderRadius="10" backgroundColor="#FFFFFF" class="list-group-item" androidElevation="5"
                            [class.odd]="odd" verticalAlignment="middle" (longPress)="deleteCharges(item.id)">
                            <GridLayout width="100%" height="100%" orientation="horizontal" rows="auto,auto">
                                <GridLayout row="0" width="95%" height="50%" columns="auto,auto,auto">
                                    <GridLayout col="0" columns="auto,auto" width="80%" height="50%">
                                        <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                                            <Label class="detailHeading" text="Head id" textAlignment="left"></Label>
                                        </StackLayout>
                                        <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                                            <Label class="detail" [text]="item.headId" textAlignment="left"></Label>
                                        </StackLayout>
                                    </GridLayout>
                                    <GridLayout col="1" width="10%" height="100%">
                                        <StackLayout width="100%" height="100%" verticalAlignment="middle"
                                            (tap)="onEdit(item)">
                                            <Image width="50%" height="70%" src="res://edit"></Image>
                                        </StackLayout>
                                    </GridLayout>
                                    <GridLayout col="2" width="10%" height="100%">
                                        <StackLayout width="100%" height="100%" verticalAlignment="middle"
                                            (tap)="deleteCharges(item.id)">
                                            <Image width="60%" height="60%" src="res://delete"></Image>
                                        </StackLayout>
                                    </GridLayout>
                                </GridLayout>
                                <GridLayout row="1" columns="auto,auto" width="95%" height="50%">
                                    <StackLayout col="0" width="30%" height="100%" verticalAlignment="middle">
                                        <Label class="detailHeading" text="Head name" textAlignment="left"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" width="70%" height="100%" verticalAlignment="middle">
                                        <Label class="detail" [text]="item.headName" textAlignment="left"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->
            </StackLayout>

            <StackLayout *ngIf="isData" marginTop="50%" width="90%" height="10%" verticalAlignment="top">
                <Label [text]="feeChargesMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Fee Charges"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout marginTop="92%" width="100%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <StackLayout width="50%" height="100%" verticalAlignment="middle">
                    <Button class="addChargesButton" text="Add charges" (tap)="onAddCharges()"></Button>
                </StackLayout>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>

    </GridLayout>
</Page>