  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }
  .backArrow{
    width:40;
    height:40;
}
  
  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }
  .addChargesButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .addChargesButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }

  .addFeesButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#3542B6;
    border-width:1;
    background-color:white;
    color: #3542B6;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .addFeesButton:highlighted{
    background-color: #3542B6;
    border-color: white;
    color:white
  }

  .dialogAddButton{
    width:100%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:16%;
    padding:0;
  }
  .dialogAddButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }

  .detailHeading{
    color:black;
    font-size:16%;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
  }
  .detail{
    color:#A61F21;
    font-size:16%;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
  }

  .deleteButton{
    width:80%;
    height:80%;
    border-radius:40%;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    padding:0;
    font-size: 16%;
  }
  .deleteButton:highlighted{
    background-color: #A61F21;
    border-color: white;
    color:white
  }

  .cancelButton{
  width:80%;
  height:80%;
  border-radius:40%;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  padding:0;
  font-size: 16%;
}
.cancelButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}
  