<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="18%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Applied leave"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <StackLayout height="55%" width="90%" marginTop="35%" backgroundColor="#FFFFFF" borderRadius="10"
                borderRadius="10" androidElevation="5" orientation="vertical">

                <GridLayout width="100%" height="10%" verticalAlignment="top">
                    <GridLayout *ngIf="isHalfDayLeave" width="100%" height="100%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveUnselectButton" text="Half day leave" (tap)="onHalfDayLeave()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveSelectButton" text="Full day leave" (tap)="onFullDayLeave()"></Button>
                        </StackLayout>
                    </GridLayout>
                    <GridLayout *ngIf="!isHalfDayLeave" width="100%" height="100%" verticalAlignment="middle"
                        columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveSelectButton" text="Half day leave" (tap)="onHalfDayLeave()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="leaveUnselectButton" text="Full day leave" (tap)="onFullDayLeave()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>

                <StackLayout *ngIf="showHalfDayLeave" height="85%" width="100%" marginTop="5%">

                    <StackLayout width="90%" height="10%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" textAlignment="center" text="Reason:"></Label>
                    </StackLayout>

                    <StackLayout width="90%" height="20%">
                        <ScrollView>
                            <Label class="leaveReason" textWrap="true" [text]="reason"></Label>
                        </ScrollView>
                    </StackLayout>

                    <StackLayout width="90%" height="10%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" textAlignment="center" text="Status:"></Label>
                    </StackLayout>

                    <StackLayout width="90%" height="20%">
                        <ScrollView>
                            <Label class="leaveReason" textWrap="true" [text]="status"></Label>
                        </ScrollView>
                    </StackLayout>

                    <StackLayout [visibility]="status=='rejected'||status=='confirmed'?'collapse':'visible'" width="90%"
                        height="10%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" textAlignment="center" text="Your otp is:"></Label>
                    </StackLayout>

                    <StackLayout [visibility]="status=='pending'?'visible':'collapse'" width="90%" height="20%"
                        verticalAlignment="middle">
                        <Label class="leaveOTP" textWrap="true" [text]="otp"></Label>
                    </StackLayout>

                </StackLayout>

                <RadListView *ngIf="!showHalfDayLeave" height="85%" width="100%" [items]="fullDayLeaves" marginTop="5%"
                    colWidth="90%" rowHeight="40%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout width="90%" height="auto" marginTop="5" marginBottom="5" orientation="vertical"
                            borderColor="#A61F21" backgroundColor="#FFFFFF" borderWidth="1" class="list-group-item"
                            androidElevation="2" borderRadius="10" [class.odd]=" odd" verticalAlignment="middle"
                            rows="auto,auto,auto,auto,auto">
                            <GridLayout [visibility]="item.fullDayType=='single'?'visible':'collapse'" row="0"
                                columns="auto,auto" width="90%" height="auto" marginTop="5">
                                <StackLayout col="0" width="40%" height="auto" textAlignment="left"
                                    verticalAlignment="middle">
                                    <Label class="leaveHeading" text="Date :"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="auto" verticalAlignment="middle">
                                    <Label class="leaveDetail" textWrap="true" [text]="item.fromDate"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout [visibility]="item.fullDayType=='multiple'?'visible':'collapse'" row="0"
                                columns="auto,auto" width="90%" height="auto" marginTop="5">
                                <StackLayout col="0" width="40%" height="auto" textAlignment="left"
                                    verticalAlignment="middle">
                                    <Label class="leaveHeading" text="From date :"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="auto" verticalAlignment="middle">
                                    <Label class="leaveDetail" textWrap="true" [text]="item.fromDate"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout [visibility]="item.fullDayType=='multiple'?'visible':'collapse'" row="1"
                                columns="auto,auto" width="90%" height="auto" marginTop="5">
                                <StackLayout col="0" width="40%" height="auto" textAlignment="left"
                                    verticalAlignment="middle">
                                    <Label class="leaveHeading" text="To date :"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="auto" verticalAlignment="middle">
                                    <Label class="leaveDetail" textWrap="true" [text]="item.toDate"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout row="2" columns="auto,auto" width="90%" height="auto" marginTop="5">
                                <StackLayout col="0" width="40%" height="auto" textAlignment="left"
                                    verticalAlignment="middle">
                                    <Label class="leaveHeading" text="Reason :"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="auto" verticalAlignment="middle">
                                    <Label class="leaveDetail" textWrap="true" [text]="item.reason"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout row="3" columns="auto,auto" width="90%" height="auto" marginTop="5"
                                marginBottom="5">
                                <StackLayout col="0" width="40%" height="auto" textAlignment="left"
                                    verticalAlignment="middle">
                                    <Label class="leaveHeading" text="Status :"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="auto" verticalAlignment="middle">
                                    <Label class="leaveDetail" textWrap="true" [text]="item.status"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout [visibility]="item.status=='rejected'?'visible':'collapse'" row="4"
                                columns="auto,auto" width="90%" height="auto" marginTop="5" marginBottom="5">
                                <StackLayout col="0" width="40%" height="auto" textAlignment="left"
                                    verticalAlignment="middle">
                                    <Label class="leaveHeading" textWrap="true" text="Rejection reason :"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="60%" height="auto" verticalAlignment="middle">
                                    <Label class="leaveDetail" textWrap="true" [text]="item.rejectionReason"></Label>
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </RadListView>
            </StackLayout>
        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>