.page{
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
}
.backArrow{
    width:40;
    height:40;
}
.username{
    font-size: 22;
    color:white;
    font-weight: 500;
    text-align: center;
}
.profileImage{
    width:100vh;
    height:100vh;
    border-radius: 50vh;
}
.logout{
   font-size: 12;
   font-weight: 500;
   color:white;
   text-align: center;
}
.logoutButton{
    width:auto;
    height:auto;
    border-width: 1;
    border-radius: 3;
    background-color: white;
    padding:0;
    color:#A61F21;
    border-color: #A61F21;
    font-size:12%;
    margin-right:10;
}
.logoutButton:highlighted{
    background-color: #A61F21;
    color:white;
    border-color: white;
}
.changePasswordButton{
    width:50%;
    height:80%;
    border-width: 1;
    border-radius: 10;
    background-color: white;
    padding:0;
    color:#A61F21;
    border-color: #A61F21;
    font-size:12%;
    margin-right:10;
}
.changePasswordButton:highlighted{
    background-color: #A61F21;
    color:white;
    border-color: white;
}
.detailContainer{
    width:100%;
    height:12%;
}
.labelHeadingContainer{
    width:40%;
    height:100%; 
    vertical-align:middle;
}
.labelDetailContainer{
    width:60%;
    height:100%; 
    vertical-align:middle;
}
.labelHeading{
    font-size: 14%;
    color:black;
    font-weight: 500;
    margin-left: 5;
}
.labelDetail{
    font-size: 14%;
    color:#A61F21;
    font-weight: 500;
    margin-left: 5;
}