<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9" rows="auto,auto,auto">
            <GridLayout #gridTop (loaded)="onGridTopLoaded($event)" row="0" rows="auto,auto,auto" width="100%"
                height="25%" backgroundColor="#A61F21">
                <GridLayout row="0" columns="auto,auto,auto" height="50%" marginTop="5%" width="100%">
                    <StackLayout col="0" width="15%" height="30%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <StackLayout col="1" width="60%" marginLeft="5%" height="100%">
                        <StackLayout width="80vw" height="80vh" borderRadius="60" (loaded)="onImageLoaded($event)"
                            backgroundColor="white">
                            <Image class="profileImage" [src]="profilePic" stretch="aspectFill"> </Image>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout col="2" width="20%" height="20%" verticalAlignment="top">
                        <Button class="logoutButton" text="LOGOUT" (tap)="onLogout()"></Button>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="1" height="25%" width="100%">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label class="username" [text]="username"></Label>
                    </StackLayout>
                </GridLayout>
                <StackLayout row="2" height="20%" width="100%" verticalAlignment="middle">
                    <Button class="changePasswordButton" text="Change Password" (tap)="onChangePassword()"></Button>
                </StackLayout>
            </GridLayout>
            <GridLayout #gridMiddle row="1" width="90%" height="45%" marginTop="5%" backgroundColor="#FFFFFF"
                borderRadius="10" (loaded)="onGridMiddleLoaded($event)" rows="auto,auto,auto,auto,auto,auto,auto,auto">
                <GridLayout row="0" class="detailContainer" columns="auto,auto" marginTop="2%">
                    <StackLayout col="0" class="labelHeadingContainer">
                        <Label class="labelHeading" text="Admission number"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="labelDetailContainer">
                        <Label class="labelDetail" [text]="admissionNumber"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="1" class="detailContainer" columns="auto,auto">
                    <StackLayout col="0" class="labelHeadingContainer">
                        <Label class="labelHeading" text="Date of birth"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="labelDetailContainer">
                        <Label class="labelDetail" [text]="DOB"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="2" class="detailContainer" columns="auto,auto">
                    <StackLayout col="0" class="labelHeadingContainer">
                        <Label class="labelHeading" text="Class"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="labelDetailContainer">
                        <Label class="labelDetail" [text]="class"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="3" class="detailContainer" columns="auto,auto">
                    <StackLayout col="0" class="labelHeadingContainer">
                        <Label class="labelHeading" text="Section"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="labelDetailContainer">
                        <Label class="labelDetail" [text]="section"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="4" class="detailContainer" columns="auto,auto">
                    <StackLayout col="0" class="labelHeadingContainer">
                        <Label class="labelHeading" text="Father's name"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="labelDetailContainer">
                        <Label class="labelDetail" [text]="fatherName"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="5" class="detailContainer" columns="auto,auto">
                    <StackLayout col="0" class="labelHeadingContainer">
                        <Label class="labelHeading" text="Mother's name"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="labelDetailContainer">
                        <Label class="labelDetail" [text]="motherName"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="6" class="detailContainer" columns="auto,auto">
                    <StackLayout col="0" class="labelHeadingContainer">
                        <Label class="labelHeading" text="Contact number"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="labelDetailContainer">
                        <Label class="labelDetail" [text]="contactNumber"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="7" class="detailContainer" columns="auto,auto">
                    <StackLayout col="0" class="labelHeadingContainer">
                        <Label class="labelHeading" text="Email id"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="labelDetailContainer">
                        <Label class="labelDetail" [text]="emailId"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
            <GridLayout #gridBottom row="2" width="90%" height="15%" marginTop="5%" backgroundColor="#FFFFFF"
                borderRadius="10" (loaded)="onGridBottomLoaded($event)">
                <GridLayout rows="auto,auto" height="96%" width="100%" marginTop="2%">
                    <StackLayout row="0" width="100%" height="25%" vericalAlignment="middle">
                        <Label class="labelHeading" horizontalAlignment="center" text="Address"></Label>
                    </StackLayout>
                    <StackLayout row="1" width="100%" height="75%">
                        <Label class="labelDetail" textWrap="true" [text]="address"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </GridLayout>
        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>