<Page actionBarHidden="true">
    <GridLayout class="page">

        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#A61F21">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" backgroundColor="#D9D9D9" horizontalAlignment="left"
                verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Transport"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" backgroundColor="#D9D9D9" horizontalAlignment="right"
                verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <GridLayout marginTop="34%" width="100%" height="5%" backgroundColor="#D9D9D9" verticalAlignment="top"
                columns="auto,auto">
                <GridLayout *ngIf="isVillageTransport" col="0" width="48%" height="100%" marginLeft="1%"
                    backgroundColor="#A61F21" borderRadius="5" (tap)="onVillageTransport()">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label text="Village transport" color="white" fontSize="16%" textAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout *ngIf="!isVillageTransport" col="0" width="48%" height="100%" marginLeft="1%"
                    backgroundColor="#A6A6A6" borderRadius="5" (tap)="onVillageTransport()">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label text="Village transport" color="black" fontSize="16%" textAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout *ngIf="!isVillageTransport" col="1" width="48%" marginLeft="2%" height="100%"
                    backgroundColor="#A61F21" borderRadius="5" (tap)="onCityTransport()">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label text="City transport" color="white" fontSize="16%" textAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout *ngIf="isVillageTransport" col="1" width="48%" marginLeft="2%" height="100%"
                    backgroundColor="#A6A6A6" borderRadius="5" (tap)="onCityTransport()">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label text="City transport" color="black" fontSize="16%" textAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>

            <!-- <GridView height="60%" width="100%" [items]="transport" marginTop="40%" colWidth="90%" rowHeight="30%"
                verticalAlignment="top"> -->
            <RadListView height="60%" width="100%" [items]="transport" marginTop="40%" colWidth="90%" rowHeight="30%"
                verticalAlignment="top">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout rows="auto,auto,auto" backgroundColor="#D9D9D9" marginLeft="10" marginRight="10"
                        marginBottom="10" marginTop="5" orientation="vertical" borderRadius="10"
                        verticalAlignment="stretch" androidElevation="5">
                        <GridLayout row="0" width="90%" height="auto" columns="auto,auto">
                            <StackLayout width="100%" height="auto" orientation="horizontal">
                                <Label color="black" fontWeight="500" fontSize="16%" text="Driver name: "
                                    verticalAlignment="middle"></Label>
                                <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                    [text]="item.driverName" verticalAlignment="middle"></Label>
                            </StackLayout>
                        </GridLayout>
                        <StackLayout row="1" width="90%" height="auto" orientation="horizontal">
                            <Label color="black" fontWeight="500" fontSize="16%" text="Contact number: "
                                verticalAlignment="middle"></Label>
                            <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                [text]="item.contactNumber" verticalAlignment="middle"></Label>
                        </StackLayout>
                        <StackLayout row="2" width="90%" height="auto" orientation="horizontal">
                            <Label color="black" fontWeight="500" fontSize="16%" text="Transport address: "
                                verticalAlignment="middle"></Label>
                            <Label color="black" fontWeight="300" fontSize="16%" textWrap="true" [text]="item.address"
                                verticalAlignment="middle"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>

    </GridLayout>
</Page>