<!-- <GridLayout>
	<router-outlet></router-outlet>
	<StackLayout *ngIf="isVisibleCompose" width="100%" height="100%" verticalAlignment="bottom">
		<StackLayout width="60" height="60" backgroundColor="#3542B6" borderRadius="40" borderColor="white"
			borderWidth="1" horizontalAlignment="right" marginBottom="20" marginRight="20" verticalAlignment="middle"
			(tap)="onMessageCompose()">
			<Image src="res://edit" width="30" height="30"></Image>
		</StackLayout>
	</StackLayout>

	<ActivityIndicator #activityIndicator [busy]="showLoading" color="#3542B6" width="50" height="50">
	</ActivityIndicator>
</GridLayout> -->

<page-router-outlet></page-router-outlet>