<GridLayout [height]="height" [width]="width" columns="*,*">

    <Button col="0" [height]="height" [width]="leftWidth" (tap)="onLeftClick(0)"
        [style.backgroundColor]="leftButtonColor" [style.borderColor]="backgroundColor"
        [style.borderWidth]="borderWidth" [style.borderRadius]="borderRadius" [style.marginTop]="buttonLeftMarginTop"
        [style.marginLeft]="buttonLeftMarginLeft" [style.marginRight]="buttonLeftMarginRight"
        [style.marginBottom]="buttonLeftMarginBottom"></Button>

    <Button col="1" [height]="height" [width]="rightWidth" (tap)="onRightClick(1)"
        [style.backgroundColor]="rightButtonColor" [style.borderColor]="backgroundColor"
        [style.borderWidth]="borderWidth" [style.borderRadius]="borderRadius" [style.marginTop]="buttonRightMarginTop"
        [style.marginLeft]="buttonRightMarginLeft" [style.marginRight]="buttonRightMarginRight"
        [style.marginBottom]="buttonRightMarginBottom"></Button>

</GridLayout>