
.submit-attendance{
    background-color: #A61F21;
    color:white;
    font-weight: 500;
    height: 70%;
    width:65%;
    padding:0;
    font-size:16%;
    border-radius: 25%;
    text-transform: none;
    border-color:#D9D9D9;
    border-width:1;
  }
  
  .submit-attendance:active{
    background-color: #FFFFFF;
    border-color:#A61F21;
    color:#A61F21;
    z-index:500;
  }

  .backArrow{
    width:40;
    height:40;
}