<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>

                <StackLayout *ngIf="isHoliday" marginTop="50%" width="90%" height="10%" verticalAlignment="top">
                    <Label [text]="attendanceMessage" fontSize="20%" color="black" textWrap="true"
                        textAlignment="center"></Label>
                </StackLayout>

                <GridLayout *ngIf="!isHoliday" height="65%" width="100%" rows="auto,*" marginTop="10%">
                    <StackLayout row="0" orientation="horizontal" height="8%" width="100%">
                        <Label class="text-left" fontWeight="500" paddingLeft="5%" marginBottom="25%" width="20%"
                            color="black" fontSize="15%" text="Roll no."></Label>
                        <Label class="text-left" fontWeight="500" paddingLeft="5%" marginBottom="25%" width="40%"
                            color="black" fontSize="15%" text="Name"></Label>
                        <Label class="text-left" fontWeight="500" paddingLeft="5%" marginBottom="25%" width="20%"
                            color="black" fontSize="15%" text="Present" textAlignment="center"></Label>
                        <Label class="text-left" fontWeight="500" paddingLeft="15%" marginBottom="25%" width="20%"
                            color="black" fontSize="15%" text="Leave" textAlignment="center"></Label>
                    </StackLayout>
                    <GridLayout row="1" backgroundColor="#FFFFFF" height="92%" width="100%">
                        <ListView [items]="students" verticalAlignment="top" height="80%" rowHeight="40%"
                            columns="100%">
                            <ng-template let-item="item" let-i="index">
                                <StackLayout orientation="horizontal">
                                    <Label class="text-left" fontWeight="500" marginTop="16%" paddingLeft="5%"
                                        fontSize="20%" width="20%" color="#A61F21" [text]="item.rollNo"></Label>
                                    <Label class="text-left" fontWeight="500" marginTop="20%" paddingLeft="5%"
                                        marginBottom="25%" color="#A61F21" fontSize="16%" padding="0" width="40%"
                                        [text]="item.name"></Label>
                                    <!-- <RadioButton width="40%" marginTop="10%">
                                    </RadioButton> -->
                                    <GridLayout width="40%" columns="*,*">
                                        <Button col="0" height="20vh" width="20vh"
                                            [backgroundColor]="item.status=='present'?'blue':'#D9D9D9'"
                                            borderColor="#D9D9D9" borderRadius="10vh" borderWidth="4vh"
                                            (tap)="onLeftClick(i)"></Button>
                                        <Button col="1" height="20vh" width="20vh"
                                            [backgroundColor]="item.status=='leave'?'orange':'#D9D9D9'"
                                            borderColor="#D9D9D9" borderRadius="10vh" borderWidth="4vh"
                                            (tap)="onRightClick(i)"></Button>
                                    </GridLayout>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                        <GridLayout height="20%" width="100%" verticalAlignment="bottom">
                            <Button class="submit-attendance" text="Submit attendance" (tap)="onSubmitClick()">
                            </Button>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>

            </StackLayout>

            <Label fontSize="20%" fontWeight="500" color="#A61F21" marginTop="27%" marginLeft="5%"
                verticalAlignment="top" horizontalAlignment="left" text="Attendance"></Label>
            <Label fontSize="20%" fontWeight="500" color="#A61F21" marginTop="28%" marginRight="5%"
                verticalAlignment="top" horizontalAlignment="right" [text]="date"></Label>
            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>
        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>