<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="15%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="50%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" verticalAlignment="top" rows="auto,auto">
                        <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                            <Label color="white" fontSize="14%" horizontalAlignment="center" fontWeight="500"
                                text="Brahmrishi Mission Sr. Sec. School"></Label>
                        </StackLayout>
                        <Label row="1" fontSize="16%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="70vh" height="70vh"
                borderRadius="50vh" marginTop="9%">
                <Image [src]="profilePic" width="70vh" height="70vh" borderRadius="50vh" stretch="aspectFill">
                </Image>
            </GridLayout>

            <GridLayout height="7%" marginTop="15%" verticalAlignment="top" horizontalAlignment="left">
                <StackLayout height="100%" verticalAlignment="middle">
                    <Label fontSize="20%" fontWeight="500" color="#A61F21" marginLeft="5%" textAlignment="center"
                        verticalAlignment="middle" text="Attendance"></Label>
                </StackLayout>
            </GridLayout>

            <GridLayout marginTop="15%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <StackLayout height="100%" width="100%" verticalAlignment="middle">
                    <Label fontSize="20%" fontWeight="500" color="#A61F21" textAlignment="center" [text]="year"></Label>
                </StackLayout>
            </GridLayout>

            <GridLayout height="7%" marginTop="22%" verticalAlignment="top" horizontalAlignment="center"
                columns="auto,auto,auto">
                <StackLayout col="0" width="15%" height="100%" verticalAlignment="middle" horizontalAlignment="center">
                    <Button [visibility]="disableDateLeft?'collapse':'visible'" class="left-button" height="30vh"
                        width="30vh" (tap)="onDateLeftButton()"></Button>
                </StackLayout>
                <StackLayout col="1" width="70%" height="100%" verticalAlignment="middle" horizontalAlignment="center">
                    <Label fontSize="20%" color="black" textAlignment="center"
                        [text]="(currentDate.getMonth()+1<10)?('0'+(currentDate.getMonth()+1)+', '+currentDate.getFullYear()):(currentDate.getMonth()+1)+', '+currentDate.getFullYear()"></Label>
                </StackLayout>
                <StackLayout col="2" width="15%" height="100%" verticalAlignment="middle" horizontalAlignment="center">
                    <Button [visibility]="disableDateRight?'collapse':'visible'" class="right-button" height="30vh"
                        width="30vh" (tap)="onDateRightButton()"></Button>
                </StackLayout>
            </GridLayout>

            <GridLayout height="5%" width="95%" columns="*,*,*,*,*,*,*" verticalAlignment="top" marginTop="29%"
                borderColor="#A61F21" borderTopWidth="1" borderLeftWidth="1" borderRightWidth="1">
                <GridLayout col="0" height="100%" width="50vh" backgroundColor="transparent">
                    <Label verticalAlignment="middle" horizontalAlignment="center" text="SUN" color="#A61F21"></Label>
                </GridLayout>
                <GridLayout col="1" height="100%" width="50vh" backgroundColor="transparent">
                    <Label verticalAlignment="middle" horizontalAlignment="center" text="MON" color="black"></Label>
                </GridLayout>
                <GridLayout col="2" height="100%" width="50vh" backgroundColor="transparent">
                    <Label verticalAlignment="middle" horizontalAlignment="center" text="TUE" color="black"></Label>
                </GridLayout>
                <GridLayout col="3" height="100%" width="50vh" backgroundColor="transparent">
                    <Label verticalAlignment="middle" horizontalAlignment="center" text="WED" color="black"></Label>
                </GridLayout>
                <GridLayout col="4" height="100%" width="50vh" backgroundColor="transparent">
                    <Label verticalAlignment="middle" horizontalAlignment="center" text="THU" color="black"></Label>
                </GridLayout>
                <GridLayout col="5" height="100%" width="50vh" backgroundColor="transparent">
                    <Label verticalAlignment="middle" horizontalAlignment="center" text="FRI" color="black"></Label>
                </GridLayout>
                <GridLayout col="6" height="100%" width="50vh" backgroundColor="transparent">
                    <Label verticalAlignment="middle" horizontalAlignment="center" text="SAT" color="black"></Label>
                </GridLayout>
            </GridLayout>

            <StackLayout height="40%" width="95%" verticalAlignment="top" marginTop="34%" borderColor="#A61F21"
                borderWidth="1">
                <ListView height="100%" [items]="weeks" separatorColor="transparent">
                    <ng-template let-item="item">
                        <GridLayout columns="*,*,*,*,*,*,*">
                            <GridLayout col="0" height="50vh" width="50vh" (tap)="onDateTap($event,item.sun.dayDate)">
                                <Label *ngIf="item.sun.dayNum" paddingTop="5vh" class="text-center" height="30vh"
                                    width="30vh" verticalAlignment="middle" horizontalAlignment="center"
                                    [backgroundColor]="item.sun==undefined?'transparent':item.sun.status==undefined||null?'transparent':item.sun.status=='weekEnd'?'gray':'#6D7CF1'"
                                    [borderRadius]="item.sun.status==undefined||null?'0vh':'15vh'"
                                    [text]="item.sun.dayDate"
                                    [color]="item.sun.status==undefined||null?'#696969':'white'"></Label>
                            </GridLayout>
                            <GridLayout col="1" height="50vh" width="50vh" (tap)="onDateTap($event,item.mon.dayDate)">
                                <Label *ngIf="item.mon.dayNum" paddingTop="5vh" class="text-center" height="30vh"
                                    width="30vh" verticalAlignment="middle" horizontalAlignment="center"
                                    [backgroundColor]="item.mon==undefined?'transparent':item.mon.status==undefined||null?'transparent':item.mon.status=='holiday'?'#6D7CF1':item.mon.status=='present'?'green':item.mon.status=='leave'?'orange':'red'"
                                    [borderRadius]="item.mon.status==undefined||null?'0vh':'15vh'"
                                    [text]="item.mon.dayDate"
                                    [color]="item.mon.status==undefined||null?'#696969':'white'"></Label>
                            </GridLayout>
                            <GridLayout col="2" height="50vh" width="50vh" (tap)="onDateTap($event,item.tue.dayDate)">
                                <Label *ngIf="item.tue.dayNum" paddingTop="5vh" class="text-center" height="30vh"
                                    width="30vh" verticalAlignment="middle" horizontalAlignment="center"
                                    [backgroundColor]="item.tue==undefined?'transparent':item.tue.status==undefined||null?'transparent':item.tue.status=='holiday'?'#6D7CF1':item.tue.status=='present'?'green':item.tue.status=='leave'?'orange':'red'"
                                    [borderRadius]="item.tue.status==undefined||null?'0vh':'15vh'"
                                    [text]="item.tue.dayDate"
                                    [color]="item.tue.status==undefined||null?'#696969':'white'"></Label>
                            </GridLayout>
                            <GridLayout col="3" height="50vh" width="50vh" (tap)="onDateTap($event,item.wed.dayDate)">
                                <Label *ngIf="item.wed.dayNum" paddingTop="5vh" class="text-center" height="30vh"
                                    width="30vh" verticalAlignment="middle" horizontalAlignment="center"
                                    [backgroundColor]="item.wed==undefined?'transparent':item.wed.status==undefined||null?'transparent':item.wed.status=='holiday'?'#6D7CF1':item.wed.status=='present'?'green':item.wed.status=='leave'?'orange':'red'"
                                    [borderRadius]="item.wed.status==undefined||null?'0vh':'15vh'"
                                    [text]="item.wed.dayDate"
                                    [color]="item.wed.status==undefined||null?'#696969':'white'"></Label>
                            </GridLayout>
                            <GridLayout col="4" height="50vh" width="50vh" (tap)="onDateTap($event,item.thu.dayDate)">
                                <Label *ngIf="item.thu.dayNum" paddingTop="5vh" class="text-center" height="30vh"
                                    width="30vh" verticalAlignment="middle" horizontalAlignment="center"
                                    [backgroundColor]="item.thu==undefined?'transparent':item.thu.status==undefined||null?'transparent':item.thu.status=='holiday'?'#6D7CF1':item.thu.status=='present'?'green':item.thu.status=='leave'?'orange':'red'"
                                    [borderRadius]="item.thu.status==undefined||null?'0vh':'15vh'"
                                    [text]="item.thu.dayDate"
                                    [color]="item.thu.status==undefined||null?'#696969':'white'"></Label>
                            </GridLayout>
                            <GridLayout col="5" height="50vh" width="50vh" (tap)="onDateTap($event,item.fri.dayDate)">
                                <Label *ngIf="item.fri.dayNum" paddingTop="5vh" class="text-center" height="30vh"
                                    width="30vh" verticalAlignment="middle" horizontalAlignment="center"
                                    [backgroundColor]="item.fri==undefined?'transparent':item.fri.status==undefined||null?'transparent':item.fri.status=='holiday'?'#6D7CF1':item.fri.status=='present'?'green':item.fri.status=='leave'?'orange':'red'"
                                    [borderRadius]="item.fri.status==undefined||null?'0vh':'15vh'"
                                    [text]="item.fri.dayDate"
                                    [color]="item.fri.status==undefined||null?'#696969':'white'"></Label>
                            </GridLayout>
                            <GridLayout col="6" height="50vh" width="50vh" (tap)="onDateTap($event,item.sat.dayDate)">
                                <Label *ngIf="item.sat.dayNum" paddingTop="5vh" class="text-center" height="30vh"
                                    width="30vh" verticalAlignment="middle" horizontalAlignment="center"
                                    [backgroundColor]="item.sat==undefined?'transparent':item.sat.status==undefined||null?'transparent':item.sat.status=='holiday'?'#6D7CF1':item.sat.status=='present'?'green':item.sat.status=='leave'?'orange':'red'"
                                    [borderRadius]="item.sat.status==undefined||null?'0vh':'15vh'"
                                    [text]="item.sat.dayDate"
                                    [color]="item.sat.status==undefined||null?'#696969':'white'"></Label>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </ListView>
            </StackLayout>

            <GridLayout rows="auto,auto" height="26%" width="100%" marginTop="74%" verticalAlignment="top">
                <GridLayout row="0" width="95%" height="50%" columns="auto,auto">
                    <GridLayout col="0" height="100%" width="50%" rows="auto,auto">
                        <GridLayout row="0" height="50%" width="100%" columns="auto,auto">
                            <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                                <Label class="heading" color="black" text="Present" textAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                                <Label class="heading" color="green" [text]="presentDays+' days'"
                                    textAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout row="1" height="50%" width="100%" columns="auto,auto">
                            <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                                <Label class="heading" color="black" text="Absent" textAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                                <Label class="heading" color="red" [text]="absentDays+' days'"
                                    textAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                    <GridLayout col="1" height="100%" width="50%" rows="auto,auto">
                        <GridLayout row="0" height="50%" width="100%" columns="auto,auto">
                            <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                                <Label class="heading" color="black" text="Holiday" textAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                                <Label class="heading" color="#A61F21" [text]="holidays+' days'"
                                    textAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout row="1" height="50%" width="100%" columns="auto,auto">
                            <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                                <Label class="heading" color="black" text="Leave" textAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                                <Label class="heading" color="orange" [text]="leaveDays+' days'"
                                    textAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <GridLayout row="1" width="100%" height="50%">
                    <GridLayout width="95%" height="90%" backgroundColor="#A61F21" borderRadius="5" columns="auto,auto">
                        <GridLayout col="0" width="60%" height="100%" rows="auto,auto">
                            <GridLayout row="0" height="50%" width="95%" columns="auto,auto">
                                <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                                    <Label class="heading" color="black" text="Total working days"
                                        textAlignment="left"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                                    <Label class="heading" color="white" [text]="totalWorkingDays"
                                        textAlignment="center"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout row="1" height="50%" width="95%" columns="auto,auto">
                                <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                                    <Label class="heading" color="black" text="No of days present"
                                        textAlignment="left"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                                    <Label class="heading" color="white" [text]="totalPresentDays"
                                        textAlignment="center"></Label>
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                        <GridLayout col="1" width="40%" height="100%" rows="auto,auto">
                            <StackLayout row="0" width="100%" height="50%" verticalAlignment="middle">
                                <Label class="heading" color="black" text="Annual percentage" textWrap="true"
                                    textAlignment="center"></Label>
                            </StackLayout>
                            <StackLayout row="1" width="100%" height="50%" verticalAlignment="middle">
                                <Label class="heading" color="white" [text]="annualPercentage+' %'"
                                    textAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>