.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .backArrow{
    width:40;
    height:40;
  }

.left-button{
z-index: 0;
margin-right:10vh;
background-image: url('res://left_arrow');
background-repeat: no-repeat;
background-size: 100% 100%;
}

.right-button{
z-index: 0;
margin-left:10vh;
background-image: url('res://right_arrow');
background-repeat: no-repeat;
background-size: 100% 100%;

}

.heading{
    font-size:14%;
    font-weight:500;
}