<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #receiptDialog modal size="lg" duration="100" backgroundColor="transparent">
            <Scrollview #receiptDialog width="90%" height="auto" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onReceiptDialogLoaded($event)">
                <GridLayout height="auto" width="100%" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">
                    <GridLayout row="0" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Receipt number"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="receiptNumber"
                                textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="1" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Fee Charge name"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="feeCharges"
                                textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="2" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Transaction type"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="transType"
                                textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>


                    <GridLayout row="3" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Transaction date"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="transDate"
                                textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="4" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Due amount"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="dueAmount"
                                textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="5" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Pay amount"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="payAmount"
                                textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="6" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Balance amount"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="balanceAmount"
                                textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout *ngIf="isCheque" row="7" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Bank name" textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="bankName" textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="8" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Remark" textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="remark" textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout *ngIf="isCheque" row="9" height="auto" width="95%" columns="auto,auto" marginTop="10vh">
                        <StackLayout col="0" width="40%" height="auto" verticalAlignment="top">
                            <Label class="receiptHeading" textAlignment="left" text="Transaction remark"
                                textWrap="true"></Label>
                        </StackLayout>
                        <StackLayout col="1" width="60%" height="auto" verticalAlignment="top">
                            <Label class="receiptDetail" textAlignment="left" [text]="transRemark"
                                textWrap="true"></Label>
                        </StackLayout>
                    </GridLayout>

                    <GridLayout row="10" width="50%" height="8%" verticalAlignment="middle" marginTop="10"
                        marginBottom="10">
                        <Button class="payFeesButton" [text]="dialogCancelButton" (tap)="onCancel()"></Button>
                    </GridLayout>
                </GridLayout>
            </Scrollview>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="95vh" height="95vh" borderRadius="47.5vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Fee receipt"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <!-- <GridLayout height="8%" width="100%" verticalAlignment="top" marginTop="92%">
                <Button class="payFeesButton" text="Fee Receipts" (tap)="onViewReceipt()"></Button>
            </GridLayout> -->

            <!-- <GridView height="65%" width="100%" [items]="feeReceipt" marginTop="35%" verticalAlignment="top"
                colWidth="90%" rowHeight="30%"> -->
            <RadListView height="65%" width="100%" [items]="feeReceipt" marginTop="35%" verticalAlignment="top"
                colWidth="90%" rowHeight="30%">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout rows="auto,auto" backgroundColor="#FFFFFF" marginLeft="10" marginRight="10"
                        marginBottom="10" marginTop="5" orientation="vertical" borderRadius="10"
                        verticalAlignment="stretch" androidElevation="5" (tap)="onReceipt(item)">
                        <StackLayout row="0" width="90%" height="30%" verticalAlignment="middle">
                            <Label color="#A61F21" fontSize="18%" fontWeight="500" textAlignment="left"
                                [text]="item.feeCharges"></Label>
                        </StackLayout>
                        <GridLayout row="1" columns="auto,auto,auto" width="90%" height="70%">
                            <GridLayout col="0" width="34%" height="100%" rows="auto,auto">
                                <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="black" textAlignment="center" fontWeight="500" fontSize="16"
                                        textWrap="true" text="Receipt number"></Label>
                                </StackLayout>
                                <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="#A61F21" textAlignment="center" fontWeight="300" fontSize="16"
                                        textWrap="true" [text]="item.receiptNo"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout col="1" width="33%" height="100%" rows="auto,auto">
                                <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="black" textAlignment="center" fontWeight="500" fontSize="16"
                                        textWrap="true" text="Pay amount"></Label>
                                </StackLayout>
                                <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="#A61F21" textAlignment="center" fontWeight="300" fontSize="16"
                                        textWrap="true" [text]="item.payAmount"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout col="2" width="33%" height="100%" rows="auto,auto">
                                <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="black" textAlignment="center" fontWeight="500" fontSize="16"
                                        textWrap="true" text="Balance amount"></Label>
                                </StackLayout>
                                <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                                    <Label color="#A61F21" textAlignment="center" fontWeight="300" fontSize="16"
                                        textWrap="true" [text]="item.balanceAmount"></Label>
                                </StackLayout>
                            </GridLayout>
                            <!-- <GridLayout col="2" width="30%" height="100%" rows="auto,auto">
                                <StackLayout row="0" height="50%" width="100%" horizontalAlignment="center"
                                    verticalAlignment="middle">
                                    <Button class="payFeesButton" text="View" (tap)="onViewReceipt(item)"></Button>
                                </StackLayout>
                            </GridLayout> -->
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->
        </GridLayout>
        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#A61F21" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>
    </GridLayout>
</Page>