.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .backArrow{
    width:40;
    height:40;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21;
  }

  .receiptHeading{
    font-size:14%;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: black;
  }

  .receiptDetail{
    font-size:14%;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21;
  }

  .payFeesButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    font-weight:500;
    font-size:14%;
    padding:0;
  }
  .payFeesButton:highlighted{
    background-color: #A61F21;
    border-color: white;
    color:white
  }