.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .backArrow{
    width:40;
    height:40;
  }
  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }

.hideButton{
  width:40%;
  height:30;
  border-width: 1;
  border-radius: 5;
  font-size: 16;
  background-color: #A61F21;
  padding:0;
  color:#FFFFFF;
  border-color: #FFFFFF;
  margin:10;
}
.hideButton:highlighted{
  background-color: #FFFFFF;
  color:#A61F21;
  border-color: #A61F21;
}

.okButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:white;
  border-width:1;
  background-color:#A61F21;
  color: white;
  padding:0;
  font-size: 16%;
}
.okButton:highlighted{
  background-color: white;
  border-color: #A61F21;
  color:#A61F21
}

.classButton{
  width:80%;
  height:80%;
  border-radius:100;
  border-color:#A61F21;
  border-width:1;
  background-color:white;
  color: #A61F21;
  padding:0;
  font-size: 16%;
}
.classButton:highlighted{
  background-color: #A61F21;
  border-color: white;
  color:white
}
.classDialogButton{
  width:100%;
  height: 100%;
  border-color:#A61F21;
  border-width:1;
  background-color:#FFFFFF;
  color: #A61F21;
  font-weight:500;
  font-size:16;
  padding:0;
}
.classDialogButton:highlighted{
  background-color: #A61F21;
  border-color: #FFFFFF;
  color:#FFFFFF;
}
