<Page actionBarHidden="true">
  <GridLayout class="page">
    <CardView #viewDatePickerDialog modal size="lg" duration="100" backgroundColor="transparent">
      <StackLayout #datePickerDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
        borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onDatePickerDialogLoaded($event)">
        <GridLayout rows="auto,auto" width="90%" height="100%">
          <StackLayout row="0" height="80%" width="100%">
            <DatePicker (loaded)="onPickerLoaded($event)" (dateChange)="onDateChanged($event)"
              (dayChange)="onDayChanged($event)" (monthChange)="onMonthChanged($event)"
              (yearChange)="onYearChanged($event)" verticalAlignment="center"></DatePicker>
          </StackLayout>
          <StackLayout row="1" height="20%" width="100%" verticalAlignment="middle">
            <Button class="okButton" text="Ok" (tap)="onOkDate()"></Button>
          </StackLayout>
        </GridLayout>
      </StackLayout>
    </CardView>
    <CardView #viewMessageDialog modal size="lg" duration="100" backgroundColor="transparent" (tap)="onOutsideClick()">
      <StackLayout #messageDialog width="80%" height="auto" margin="15" borderColor="#A61F21" borderWidth="1"
        borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onMessageDialogLoaded($event)">
        <GridLayout rows="auto,auto,auto" width="90%" height="auto">
          <ScrollView row="0" width="100%" margin="5">
            <Label [text]="question" fontSize="16%" color="black" textAlignment="center" textWrap="true"></Label>
          </ScrollView>
          <StackLayout *ngIf="isVisibleAnswer" row="1" width="100%" margin="5">
            <Label [text]="answer" fontSize="16%" color="#A61F21" textAlignment="center" textWrap="true"></Label>
          </StackLayout>
          <StackLayout row="2" width="100%">
            <Button class="hideButton" text="Hide" (tap)="onHide()" horizontalAlignment="right"></Button>
          </StackLayout>
        </GridLayout>
      </StackLayout>
    </CardView>
    <CardView #filterDialog modal size="lg" duration="100" backgroundColor="transparent" (tap)="onFilterOutsideClick()">
      <StackLayout #filterDialog width="50%" height="22%" horizontalAlignment="right" borderColor="white"
        borderWidth="1" borderRadius="5" backgroundColor="#A6A6A6" (loaded)="onFilterDialogLoaded($event)">
        <GridLayout rows="auto,auto,auto" width="100%" height="100%">
          <GridLayout row="0" width="100%" height="33%" columns="auto,auto" (tap)="onToday()">
            <StackLayout col="0" width="20%" height="100%" verticalAlignment="middle">
              <Image src="res://today" width="60%" height="60%" horizontalAlignment="center"></Image>
            </StackLayout>
            <StackLayout col="1" width="80%" height="100%" verticalAlignment="middle">
              <Label text="Today" color="black" fontSize="16%" textAlignment="center"></Label>
            </StackLayout>
          </GridLayout>
          <GridLayout row="1" width="100%" height="34%" columns="auto,auto" (tap)="onSevenDays()">
            <StackLayout col="0" width="20%" height="100%" verticalAlignment="middle">
              <Image src="res://seven_days" width="60%" height="60%" horizontalAlignment="center"></Image>
            </StackLayout>
            <StackLayout col="1" width="80%" height="100%" verticalAlignment="middle">
              <Label text="7 Days" color="black" fontSize="16%" textAlignment="center"></Label>
            </StackLayout>
          </GridLayout>
          <GridLayout row="2" width="100%" height="33%" columns="auto,auto" (tap)="onCustom()">
            <StackLayout col="0" width="20%" height="100%" verticalAlignment="middle">
              <Image src="res://settings" width="60%" height="60%" horizontalAlignment="center"></Image>
            </StackLayout>
            <StackLayout col="1" width="80%" height="100%" verticalAlignment="middle">
              <Label text="Custom" color="black" fontSize="16%" textAlignment="center"></Label>
            </StackLayout>
          </GridLayout>
        </GridLayout>
      </StackLayout>
    </CardView>
    <CardView #sortDialog modal size="lg" duration="100" backgroundColor="transparent" (tap)="onSortOutsideClick()">
      <StackLayout #sortDialog width="50%" height="15%" marginBottom="7%" verticalAlignment="top"
        horizontalAlignment="left" borderColor="white" borderWidth="1" borderRadius="5" backgroundColor="#A6A6A6"
        (loaded)="onSortDialogLoaded($event)">
        <GridLayout rows="auto,auto" width="100%" height="100%">
          <GridLayout row="0" width="100%" height="50%" columns="auto,auto" (tap)="onAscending()">
            <StackLayout col="0" width="20%" height="100%" verticalAlignment="middle">
              <Image src="res://ascending" width="60%" height="60%" horizontalAlignment="center"></Image>
            </StackLayout>
            <StackLayout col="1" width="80%" height="100%" verticalAlignment="middle">
              <Label text="Ascending" color="black" fontSize="16%" textAlignment="center"></Label>
            </StackLayout>
          </GridLayout>
          <GridLayout row="1" width="100%" height="50%" columns="auto,auto" (tap)="onDescending()">
            <StackLayout col="0" width="20%" height="100%" verticalAlignment="middle">
              <Image src="res://descending" width="60%" height="60%" horizontalAlignment="center"></Image>
            </StackLayout>
            <StackLayout col="1" width="80%" height="100%" verticalAlignment="middle">
              <Label text="Descending" color="black" fontSize="16%" textAlignment="center"></Label>
            </StackLayout>
          </GridLayout>
        </GridLayout>
      </StackLayout>
    </CardView>
    <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent"
      (tap)="onClassOutsideClick()">
      <StackLayout #classDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
        borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onClassDialogLoaded($event)">
        <!-- <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
        <RadListView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%">
          <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
          </ListViewStaggeredLayout>
          <ng-template let-item="item" let-odd="odd" let-i="index">
            <GridLayout orientation="vertical" verticalAlignment="stretch">
              <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                <Button class="classDialogButton" [text]="item.name" (tap)="onClassButton(item,i)"></Button>
              </StackLayout>
            </GridLayout>
          </ng-template>
        </RadListView>
        <!-- </GridView> -->
      </StackLayout>
    </CardView>
    <CardView #selectSectionDialog modal size="lg" duration="100" backgroundColor="transparent"
      (tap)="onSectionOutsideClick()">
      <StackLayout #sectionDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
        borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onSectionDialogLoaded($event)">
        <!-- <GridView height="90%" width="100%" [items]="sections" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
        <RadListView height="90%" width="100%" [items]="sections" marginTop="5%" colWidth="100%" rowHeight="18%">
          <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
          </ListViewStaggeredLayout>
          <ng-template let-item="item" let-odd="odd" let-i="index">
            <GridLayout orientation="vertical" verticalAlignment="stretch">
              <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                <Button class="classDialogButton" [text]="item.classSection" (tap)="onSectionButton(item)"></Button>
              </StackLayout>
            </GridLayout>
          </ng-template>
        </RadListView>
        <!-- </GridView> -->
      </StackLayout>
    </CardView>
    <CardView #selectTeacherDialog modal size="lg" duration="100" backgroundColor="transparent"
      (tap)="onTeacherOutsideClick()">
      <StackLayout #teacherDialog width="80%" height="40%" margin="15" borderColor="#A61F21" borderWidth="1"
        borderRadius="5" backgroundColor="#D9D9D9" (loaded)="onClassDialogLoaded($event)">
        <!-- <GridView height="90%" width="100%" [items]="teachers" marginTop="5%" colWidth="100%" rowHeight="18%"> -->
        <RadListView height="90%" width="100%" [items]="teachers" marginTop="5%" colWidth="100%" rowHeight="18%">
          <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
          </ListViewStaggeredLayout>
          <ng-template let-item="item" let-odd="odd" let-i="index">
            <GridLayout orientation="vertical" verticalAlignment="stretch">
              <StackLayout width="90%" height="40" marginTop="5" verticalAlignment="middle">
                <Button class="classDialogButton" [text]="item.name" (tap)="onTeacherButton(item)"></Button>
              </StackLayout>
            </GridLayout>
          </ng-template>
        </RadListView>
        <!-- </GridView> -->
      </StackLayout>
    </CardView>
    <!-- <GridLayout width="100" height="100" verticalAlignment="top" horizontalAlignment="center" marginTop="70%"
      backgroundColor="red">
      <Image src="res://homework" width="80%" height="80%"></Image>
    </GridLayout> -->
    <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#A61F21">
      <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
        <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
          <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
            <Image class="backArrow" src="res://arrow_back"> </Image>
          </StackLayout>
          <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
            <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
              text="Brahmrishi Mission Sr. Sec. School"></Label>
            <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
              text="Abohar (Punjab)"></Label>
          </GridLayout>
          <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
          </StackLayout>
        </GridLayout>
      </StackLayout>

      <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
        borderRadius="50vh" marginTop="17%">
        <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
      </GridLayout>

      <GridLayout marginTop="25%" width="35%" height="8%" backgroundColor="#D9D9D9" horizontalAlignment="left"
        verticalAlignment="top">
        <Label class="heading" textWrap="true" text="Messages"></Label>
      </GridLayout>

      <GridLayout marginTop="25%" width="35%" height="8%" backgroundColor="#D9D9D9" horizontalAlignment="right"
        verticalAlignment="top">
        <Label class="heading" textWrap="true" [text]="sessionYear"></Label>
      </GridLayout>

      <StackLayout *ngIf="isMessages" width="90%" height="10%" verticalAlignment="middle">
        <Label [text]="messagesText" fontSize="16%" color="black" textWrap="true" textAlignment="center"></Label>
      </StackLayout>

      <GridLayout *ngIf="isTeacher" marginTop="33%" width="100%" height="7%" verticalAlignment="Top"
        columns="auto,auto">
        <StackLayout *ngIf="isClassPicker" col="0" width="50%" height="100%" verticalAlignment="middle"
          (tap)="onClass()">
          <Button class="classButton" [text]="classButton"></Button>
        </StackLayout>
        <StackLayout *ngIf="isSectionPicker" col="1" width="50%" height="100%" verticalAlignment="middle"
          (tap)="onSection()">
          <Button class="classButton" [text]="sectionButton"></Button>
        </StackLayout>
      </GridLayout>

      <GridLayout *ngIf="isStudent" marginTop="33%" width="100%" height="7%" verticalAlignment="Top">
        <StackLayout *ngIf="isClassPicker" width="60%" height="100%" verticalAlignment="middle"
          (tap)="onSelectTeacher()">
          <Button class="classButton" [text]="teacherButton"></Button>
        </StackLayout>
      </GridLayout>

      <GridLayout *ngIf="isShowFilters" marginTop="41%" width="100%" height="5%" backgroundColor="#D9D9D9"
        verticalAlignment="top" columns="auto,auto">
        <GridLayout col="0" width="48%" height="100%" marginLeft="1%" columns="auto,auto" backgroundColor="#A6A6A6"
          borderRadius="5" (tap)="onSortClick()">
          <StackLayout col="0" width="48%" height="100%" verticalAlignment="middle">
            <Image src="res://sort" width="60%" height="60%" horizontalAlignment="right"></Image>
          </StackLayout>
          <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
            <Label text="Sort" color="black" fontSize="16%" textAlignment="left"></Label>
          </StackLayout>
        </GridLayout>
        <GridLayout col="1" width="48%" marginLeft="2%" height="100%" columns="auto,auto" backgroundColor="#A6A6A6"
          borderRadius="5" (tap)="onFilterClick()">
          <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
            <Image src="res://filter" width="60%" height="60%" horizontalAlignment="right"></Image>
          </StackLayout>
          <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
            <Label text="Filter" color="black" fontSize="16%" textAlignment="left"></Label>
          </StackLayout>
        </GridLayout>
      </GridLayout>

      <!-- <GridView *ngIf="isShowMessages" height="54%" width="100%" [items]="messages" marginTop="46%" colWidth="90%"
        rowHeight="35%"> -->
      <RadListView *ngIf="isShowMessages" height="54%" width="100%" [items]="messages" marginTop="46%" colWidth="90%"
        rowHeight="35%">
        <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
        </ListViewStaggeredLayout>
        <ng-template let-item="item" let-odd="odd" let-i="index">
          <GridLayout #grid rows="auto,auto" backgroundColor="#FFFFFF" marginLeft="10" marginRight="10"
            marginBottom="10" marginTop="5" orientation="vertical" borderRadius="8%" verticalAlignment="stretch"
            borderRadius="10" androidElevation="2" (tap)="onMessageClick(item.question,item.answer,item.userType)">
            <!-- <StackLayout row="0" width="90%" height="20%" verticalAlignment="middle">
                            <Label color="black" fontSize="20" fontWeight="500"
                                [textAlignment]="item.type=='teacher'?'left':'right'" [text]="item.name"></Label>
                        </StackLayout> -->
            <GridLayout row="0" width="95%" height="auto" marginTop="5" marginBottom="5" rows="auto,auto">
              <GridLayout row="0" width="100%" height="auto" columns="auto,auto">
                <StackLayout col="0" width="50%" height="auto" verticalAlignment="middle">
                  <Label color="black" fontSize="16%" fontWeight="500" textAlignment="left"
                    [text]="item.userType=='admin'?item.userName+' (ADMIN)':item.userName"></Label>
                </StackLayout>
                <StackLayout col="1" width="50%" height="auto" verticalAlignment="middle">
                  <Label color="black" fontWeight="300" fontSize="12%" textAlignment="right" [text]="item.date"></Label>
                </StackLayout>
              </GridLayout>
              <StackLayout row="1" width="100%" height="auto" verticalAlignment="middle">
                <Label color="black" fontWeight="300" fontSize="16%" textWrap="true" [text]="item.question"></Label>
              </StackLayout>
            </GridLayout>
            <GridLayout [visibility]="item.userType=='admin'?'collapse':'visible'" row="1" width="95%" height="auto"
              rows="auto,auto" marginTop="5" marginBottom="5" (tap)="onAnswerClick(item.id,item.answer)">
              <GridLayout row="0" width="100%" height="auto" columns="auto,auto">
                <StackLayout col="0" width="50%" height="auto" verticalAlignment="middle">
                  <Label color="#A61F21" fontSize="16%" fontWeight="500" textAlignment="left"
                    [text]="item.teacherName"></Label>
                </StackLayout>
                <StackLayout col="1" width="50%" height="auto" verticalAlignment="middle">
                  <Label [visibility]="item.answer==null?'hidden':'visible'" color="#A61F21" fontWeight="300"
                    fontSize="12%" textAlignment="right" [text]="item.replyDate"></Label>
                </StackLayout>
              </GridLayout>
              <StackLayout row="1" width="100%" height="auto" verticalAlignment="middle">
                <Label color="#A61F21" fontWeight="300" fontSize="16%"
                  [textAlignment]="item.answer==null?'center':'left'"
                  [text]="item.answer==null?pendingMessage:item.answer"></Label>
              </StackLayout>
            </GridLayout>
          </GridLayout>
        </ng-template>
      </RadListView>
      <!-- </GridView> -->
    </GridLayout>

    <StackLayout *ngIf="isVisibleCompose" width="60vw" height="60vw" verticalAlignment="bottom" marginBottom="5%"
      marginLeft="80%">
      <StackLayout width="60vw" height="60vw" backgroundColor="#D9D9D9" borderRadius="30vw" borderColor="white"
        borderWidth="1" (tap)="onMessageCompose()" verticalAlignment="middle">
        <Image src="res://edit" width="30vw" height="30vw"></Image>
      </StackLayout>
    </StackLayout>

    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
      <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
        colSpan="1">
      </ActivityIndicator>
    </GridLayout>

    <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
      orientation="vertical" opacity="0.8">
      <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
        colSpan="1">
      </ActivityIndicator>
      <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
    </StackLayout>
  </GridLayout>
</Page>