  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .backArrow{
    width:40;
    height:40;
  }

  .heading{
    color:#A61F21;
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
  }

  .syllabusButton{
    width:80%;
    height:80%;
    color:white;
    border-radius: 100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
  }
  .syllabusButton:highlighted{
    background-color: #FFFFFF;
    border-color: #A61F21;
    color:#A61F21;
  }