<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #downloadProgressDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout height="10%" width="90%" rows="auto,auto" backgroundColor="white" borderRadius="10">
                <StackLayout row="0" height="50%" width="90%" verticalAlignment="middle">
                    <Progress class="progress" color="#A61F21" [value]="downloadProgressValue" maxValue="100">
                    </Progress>
                </StackLayout>
                <StackLayout row="1" height="50%" width="50%" horizontalAlignment="center" verticalAlignment="middle">
                    <Label text="Downloading ..." fontSize="20%" color="#6D7CF1" textAlignment="center"></Label>
                </StackLayout>
            </GridLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="18%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" text="Syllabus"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" [text]="year"></Label>
            </GridLayout>

            <GridLayout *ngIf="isVisibleButton" width="100%" height="10%" marginTop="20%" verticalAlignment="middle">
                <Button class="syllabusButton" text="Download Syllabus" (tap)="downloadSyllabus()"></Button>
            </GridLayout>

            <GridLayout *ngIf="isData" width="90%" height="10%" verticalAlignment="middle">
                <Label [text]="syllabusMessage" fontSize="16%" color="black" textWrap="true"
                    textAlignment="center"></Label>
            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>