.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .backArrow{
    width:40;
    height:40;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }
  .leaveHeading{
    font-size:16;
    font-weight:500;
    color: black;
  }
  .leaveDetail{
    font-size:16;
    font-weight:300;
    color: #A61F21;
  }
  .otpHeading{
    font-size:22;
    font-weight:500;
    color: black;
    text-align: center;
  }
  .otp{
    font-size:24;
    text-align:center;
    font-weight:500;
    color: white;
  }
  .rejectButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    padding:0;
    font-size:20;
    font-weight:500;
  }
  .rejectButton:highlighted{
    background-color: #A61F21;
    border-color: #D9D9D9;
    color:white
  }
  .confirmButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    padding:0;
    font-size:20;
    font-weight:500;
  }
  .confirmButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }

  .dialogOkButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:white;
    border-width:1;
    background-color:#A61F21;
    color: white;
    font-weight:500;
    font-size:20;
    padding:0;
  }
  .dialogOkButton:highlighted{
    background-color: white;
    border-color: #A61F21;
    color:#A61F21
  }

  .dialogHideButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#A61F21;
    background-color: white;
    border-width:1;
    color: #A61F21;
    font-weight:500;
    font-size:20;
    padding:0;
  }
  .dialogHideButton:highlighted{
    background-color:#A61F21;
    border-color: white;
    color:white;
  }