<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #verifyOtpDialog modal size="lg" duration="100" backgroundColor="transparent">
            <StackLayout #otpDialog width="80%" height="30%" margin="15" borderColor="#A61F21" borderWidth="1"
                borderRadius="5" backgroundColor="#D9D9D9" borderRadius="10" androidElevation="5">
                <GridLayout height="100%" width="100%" rows="auto,auto">
                    <StackLayout [visibility]="from=='halfDayLeave'?'visible':'collapse'" row="0" height="30%"
                        width="90%" marginTop="10%">
                        <TextField [hint]="otpHint" [text]="otpText" (textChange)="onOtpTextChanged($event)"
                            secure="false" [borderColor]="otpBorderColor" returnKeyType="done" autocorrect="false"
                            maxLength="6" keyboardType="phone" class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                    <StackLayout [visibility]="from=='fullDayLeave' && showConfirmMsg==false?'visible':'collapse'"
                        row="0" height="30%" width="90%" marginTop="10%">
                        <TextField [hint]="rejectionReasonHint" [text]="rejectionReasonText"
                            (textChange)="onRejectionReasonTextChanged($event)" secure="false"
                            [borderColor]="rejectionReasonBorderColor" returnKeyType="done" autocorrect="false"
                            class="input input-border input-field">
                        </TextField>
                    </StackLayout>
                    <StackLayout *ngIf="showConfirmMsg" row="0" height="30%" width="90%" marginTop="10%"
                        verticalAlignment="middle">
                        <Label [text]="confirmMsg" textWrap="true" textAlignment="center" fontSize="16%"
                            color="#A61F21"></Label>
                    </StackLayout>
                    <StackLayout row="0" *ngIf="isLoading" width="90%" height="30%" borderRadius="10"
                        backgroundColor="white" orientation="vertical" opacity="0.8">
                        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading"
                            rowSpan="1" colSpan="1">
                        </ActivityIndicator>
                        <Label text="Loading..." color="#A61F21" textAlignment="center" fontSize="16%"></Label>
                    </StackLayout>
                    <GridLayout row="2" width="100%" height="30%" marginTop="10%" columns="auto,auto">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="dialogOkButton" [text]="dialogOkButton" (tap)="onOk()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="dialogHideButton" [text]="dialogHideButton" (tap)="onHide()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" width="100%" height="100%">

            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">

                <GridLayout height="25%" columns="auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>

            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="left" verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Leave"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" horizontalAlignment="right" verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="date"></Label>
            </GridLayout>

            <GridLayout #grid rows="auto,auto,auto,auto,auto,auto,auto,auto,auto" height="55%" width="90%"
                marginTop="35%" backgroundColor="#FFFFFF" borderRadius="10" borderRadius="10" androidElevation="5">

                <GridLayout row="0" columns="auto,auto" width="90%" height="10%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="Name :"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <Label class="leaveDetail" textWrap="true" [text]="name"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout row="1" columns="auto,auto" width="90%" height="10%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="Class :"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <Label class="leaveDetail" textWrap="true" [text]="class"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout row="2" columns="auto,auto" width="90%" height="10%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="Section :"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <Label class="leaveDetail" textWrap="true" [text]="section"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout row="3" columns="auto,auto" width="90%" height="10%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="Roll no :"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <Label class="leaveDetail" textWrap="true" [text]="rollNo"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout row="4" columns="auto,auto" width="90%" height="15%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="Reason :"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <ScrollView>
                            <Label class="leaveDetail" textWrap="true" [text]="reason"></Label>
                        </ScrollView>
                    </StackLayout>
                </GridLayout>

                <!-- <StackLayout row="5" width="90%" height="10%" marginTop="5%" verticalAlignment="middle">
                    <Label class="otpHeading" textWrap="true" text="Otp is:"></Label>
                </StackLayout>

                <StackLayout row="6" width="90%" height="10%" verticalAlignment="middle">
                    <Label class="otp" textWrap="true" [text]="otp"></Label>
                </StackLayout> -->

                <GridLayout [visibility]="fullDayType=='single'?'visible':'collapse'" row="5" columns="auto,auto"
                    width="90%" height="10%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="Date :"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <Label class="leaveDetail" textWrap="true" [text]="fromDate"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout [visibility]="fullDayType=='multiple'?'visible':'collapse'" row="5" columns="auto,auto"
                    width="90%" height="10%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="From date :"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <Label class="leaveDetail" textWrap="true" [text]="fromDate"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout [visibility]="fullDayType=='multiple'?'visible':'collapse'" row="6" columns="auto,auto"
                    width="90%" height="10%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="To date :"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <Label class="leaveDetail" textWrap="true" [text]="toDate"></Label>
                    </StackLayout>
                </GridLayout>

                <GridLayout *ngIf="isConfirmReject" row="7" width="90%" height="10%">
                    <Label [text]="status" fontSize="20%" color="#A61F21" textAlignment="center"
                        verticalAlignment="middle"></Label>
                </GridLayout>

                <GridLayout *ngIf="!isConfirmReject" row="7" columns="auto,auto" width="90%" height="15%">
                    <StackLayout col="0" width="50%" height="90%">
                        <Button class="rejectButton" text="Reject" (tap)="onReject()"></Button>
                    </StackLayout>
                    <StackLayout col="1" width="50%" height="90%">
                        <Button class="confirmButton" text="Confirm" (tap)="onConfirm()"></Button>
                    </StackLayout>
                </GridLayout>

                <GridLayout *ngIf="isRejectionReason" row="8" columns="auto,auto" width="90%" height="10%">
                    <StackLayout col="0" width="40%" height="100%" verticalAlignment="middle">
                        <Label class="leaveHeading" textWrap="true" text="Rejection reason:"></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%" verticalAlignment="middle">
                        <ScrollView>
                            <Label class="leaveDetail" textWrap="true" [text]="rejectionReason"></Label>
                        </ScrollView>
                    </StackLayout>
                </GridLayout>

            </GridLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

    </GridLayout>
</Page>