@keyframes example {
    from {
      transform: rotate(0deg)
    }
  
    to {
      transform: rotate(360deg)
    }
  }
  
  ye
  
  
  .loading {
    animation-name: example;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }
  
  .navigate-back-button {
    horizontal-align: left;
    background-image: url("res://ic_back");
    background-repeat: no-repeat;
    /* background-size: cover; */
    padding-left: 20%;
    padding-right: 20%;
  
    background-position: center;
    box-sizing: border-box;
  }
  
  
  .navigate-back-button:active {
    horizontal-align: left;
    background-image: url("res://ic_back_focus");
    background-repeat: no-repeat;
    /* background-size: cover; */
    padding-left: 20%;
    padding-right: 20%;
    background-position: center;
    box-sizing: border-box;
  }
  
  
  
  
  
  
  
  
  
  
  
  TextField {
    border-width: 0 0 .7 0;
    border-bottom-color: transparent;
  }
  
  .iconTextField {
    padding:7%;
    box-sizing: border-box;
    /* border-width:1; */
    /* border-right-color: transparent;
    border-top-color:white;
    border-bottom-color: white;
    border-left-color: white;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; */
  }
  
  .textfeild-container{
    border-color:white;
    border-width: 1;
    border-radius: 25%;
    margin-top:2%;
    margin-bottom: 2%;
    width:80%;
    height:auto;
    
  }
  
  .page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }
  
  .form {
    flex-grow: 2;
    margin-left: 15;
    margin-right: 15;
    margin-top: 20;
  }
  
  .forgot-password-label {
    font-size: 15;
    color: white;
    background-color: transparent;
    border-color: transparent;
      border-width: 1;
    /* z-index: 0; */
  }
  
  .forgot-password-label:active {
    font-size: 15;
    color: #cc3333;
    border-color: transparent;
      border-width: 1;
  }
  
  .grid-container {
    background: transparent;
    border-radius: 10;
  }
  
  .logo {
    height: 90;
    font-weight: bold;
  }
  
  .header-name {
    horizontal-align: center;
    font-size: 25;
    text-align: center;
    color: white;
  }
  
  .header-detail {
    horizontal-align: center;
    font-size: 15;
    text-align: center;
    margin-bottom: 10;
    color: #74bfff;
  }
  
  .logo-container {
    margin-top: 30%;
    margin-bottom: 10;
  }
  
  .input-field {
    width: 90%;
  }
  
  .inputActive {
    font-size: 15;
    placeholder-color: #A8A8A8;
    border-bottom-color: #233f5a;
    border-bottom-width: 2;
  }
  
  .inputInactive {
    font-size: 15;
    placeholder-color: #A8A8A8;
    border-bottom-color: #A8A8A8;
    border-bottom-width: 1;
  }
  
  .input:disabled {
    background-color: white;
    opacity: 0.5;
  }
  
  .user-button {
    width: 50%;
  }
  
  .btn-employee {
    height: 40;
    width: 80%;
    background-color: #233f5a;
    border-radius: 10;
    font-size: 15;
    color: white;
  }
  
  .btn-student {
    height: 40;
    width: 80%;
    border-radius: 10;
    font-size: 15;
    color: #233f5a;
    border-color: #233f5a;
    border-width: 1;
  }
  
  .login-button {
    border-radius: 25%;
    background-color: #3542B6;
    color: white;
    width: 100%;
    text-transform: none;
    /* z-index: 0; */
  }
  
  .fb {
  
    font-size: 14;
    background-color: transparent;
    background-image: url('res://ic_right_arrow');
    color: #FFFFFF;
    /* z-index: 0; */
    background-position: 90% 50%;
    width: fit-content;
    background-repeat: no-repeat;
  
    vertical-align: middle;
    horizontal-align: center;
  }
  
  .fb:active {
  
    font-size: 14;
    background-image: url('res://ic_right_arrow_focus');
    background-color: transparent;
    background-position: 90% 50%;
    background-repeat: no-repeat;
  
    color: #cc3333;
    /* z-index: 0; */
    vertical-align: middle;
    horizontal-align: center;
  }
  
  
  .newToDJ {
    font-size: 14;
    color: #FFFFFF;
    background-image: url('res://ic_right_arrow');
    background-repeat: no-repeat;
    background-color: transparent;
    /* z-index: 0; */
    width: fit-content;
    background-position: 90% 50%;
  
    vertical-align: middle;
    horizontal-align: center;
  }
  
  .newToDJ:active {
    font-size: 14;
    color: #cc3333;
    /* z-index: 0; */
    background-color: transparent;
    background-position: 90% 50%;
  
    background-image: url('res://ic_right_arrow_focus');
    background-repeat: no-repeat;
    vertical-align: middle;
    horizontal-align: center;
  }
  
  
  .login-button:active {
    color: white;
    background-color: #4f4f4f;
  }
  
  .login-button-container {
    margin-top: 15;
    border-radius: 25%;
    background-color: #3542B6;
    width: 80%;
  }
  
  .profile-button {
    margin-top: 15;
    margin-bottom: 15;
  }
  
  .btn-primary {
    height: 40;
    width: 40%;
    background-color: #ee9a68;
    border-radius: 10;
    font-size: 15;
  }
  
  .btn-primary:disabled {
    opacity: 0.5;
  }
  
  .bold {
    color: #000000;
  }
  
  
  
  .activity-indicator-container {
    horizontal-align: center;
    vertical-align: center;
  }
  
  .activity-indicator {
    width: 50;
    height: 50;
    horizontal-align: center;
  }
  
  .labels {
    color: white;
    vertical-align: middle
  }
  
  .labelsActive {
    color: red;
    vertical-align: middle
  }
  
  .redirect-button {
    horizontal-align: right;
    background-image: url("res://ic_right_arrow");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .redirect-button:active {
    horizontal-align: right;
    background-image: url("res://ic_right_arrow_focus");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  .forgot-password-policy {
    color: white;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .home-panel {
    vertical-align: center;
    font-size: 20;
    margin: 15;
  }
  
  .description-label {
    margin-bottom: 15;
  }
  
  .entry {
    padding: 5 30;
  }
  
  .border-primary,
  .border-warning,
  .border-danger,
  .border-info,
  .border-dark,
  .border-success {
    border-width: 1.5;
  }
  
  .border-primary {
    border-color: royalblue;
  }
  
  .border-info {
    border-color: skyblue;
  }
  
  .border-warning {
    border-color: orange;
  }
  
  .border-danger {
    border-color: red;
  }
  
  .border-dark {
    border-color: black;
  }
  
  .border-success {
    border-color: greenyellow;
  }
  
  .bg-primary,
  .bg-info,
  .bg-success,
  .bg-danger {
    color: #fff;
  }
  
  .bg-primary {
    background-color: royalblue;
  }
  
  .bg-info {
    background-color: skyblue;
  }
  
  .bg-warning {
    background-color: orange;
    color: #222222;
  }
  
  .bg-success {
    background-color: greenyellow;
  }
  
  .bg-danger {
    background-color: red;
  }
  
  .bg-white {
    background-color: #ffffff;
    color: #777777;
  }
  
  .text-white {
    color: #FFFFFF;
  }
  
  .text-primary {
    color: royalblue;
  }
  
  .text-info {
    color: skyblue;
  }
  
  .text-dark {
    color: black;
  }
  
  .text-warning {
    color: orange;
  }
  
  .text-success {
    color: greenyellow;
  }
  
  .text-danger {
    color: red;
  }

  .icons{
      padding: 10;
  }