<Page actionBarHidden="true">
    <GridLayout class="page">
        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#D9D9D9">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" rows="auto,auto" backgroundColor="#A61F21">
                    <Label row="0" color="white" marginTop="24%" fontSize="18%" horizontalAlignment="center"
                        fontWeight="500" text="Brahmrishi Mission Sr. Sec. School"></Label>
                    <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                        text="Abohar (Punjab)"></Label>
                </GridLayout>

                <!-- <GridView height="60%" width="100%" [items]="cards" marginTop="15%" colWidth="28%" rowHeight="25%"> -->
                <RadListView [items]="cards" width="100%" height="60%" marginTop="15%" colWidth="28%" rowHeight="25%">
                    <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="3">
                    </ListViewStaggeredLayout>
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout rows="auto,*" backgroundColor="#FFFFFF" marginLeft="10" marginBottom="10"
                            marginRight="10" orientation="vertical" verticalAlignment="stretch"
                            class="list-group-item" androidElevation="5" borderRadius="10" [class.odd]="odd"
                            (tap)="onOptionClick(i)">
                            <Image class="icons" width="50%" height="60%" marginTop="5" row="0" [src]="item.icon"
                                horizontalAlignment="center" verticalAlignment="middle"></Image>
                            <Label row="1" color="#A61F21" fontSize="14%" horizontalAlignment="center" verticalAlignment="middle"
                                [text]="item.name" class="list-group-item-text" textWrap="true"></Label>
                        </GridLayout>
                    </ng-template>
                </RadListView>
                <!-- </GridView> -->

            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%" background="transparent">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill">
                </Image>
            </GridLayout>

            <StackLayout marginTop="35%" width="100%" height="5%" horizontalAlignment="center" verticalAlignment="top">
                <Label [text]="userName" fontSize="20%" textAlignment="center" fontWeight="500" color="#A61F21"></Label>
            </StackLayout>

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>