<Page actionBarHidden="true">
    <GridLayout class="page">
        <!-- <CardView #selectClassDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onClassOutsideClick()">
            <StackLayout #classDialog width="80%" height="40%" borderColor="white" borderWidth="1" borderRadius="5"
                backgroundColor="#6D7CF1" (loaded)="onClassDialogLoaded($event)">
                <GridView height="90%" width="100%" [items]="classes" marginTop="5%" colWidth="100%" rowHeight="18%">
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="90%" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onClassButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </GridView>
            </StackLayout>
        </CardView> -->

        <!-- <CardView #selectSectionDialog modal size="lg" duration="100" backgroundColor="transparent"
            (tap)="onSectionOutsideClick()">
            <StackLayout #sectionDialog width="80%" height="40%" borderColor="white" borderWidth="1" borderRadius="5"
                backgroundColor="#6D7CF1" (loaded)="onSectionDialogLoaded($event)">
                <GridView height="90%" width="100%" [items]="sections" marginTop="5%" colWidth="100%" rowHeight="18%">
                    <ng-template let-item="item" let-odd="odd" let-i="index">
                        <GridLayout orientation="vertical" verticalAlignment="stretch">
                            <StackLayout width="90%" height="90%" verticalAlignment="middle">
                                <Button class="classDialogButton" [text]="item.name"
                                    (tap)="onSectionButton(item)"></Button>
                            </StackLayout>
                        </GridLayout>
                    </ng-template>
                </GridView>
            </StackLayout>
        </CardView> -->

        <GridLayout *ngIf="isRendering" width="100%" height="100%" backgroundColor="#A61F21">
            <StackLayout width="100%" height="100%" orientation="vertical" backgroundColor="#D9D9D9">
                <GridLayout height="25%" columns="auto,auto,auto" backgroundColor="#A61F21">
                    <StackLayout col="0" width="10%" height="25%" verticalAlignment="top" (tap)="onBack()">
                        <Image class="backArrow" src="res://arrow_back"> </Image>
                    </StackLayout>
                    <GridLayout col="1" width="80%" height="50%" rows="auto,auto">
                        <Label row="0" color="white" fontSize="16%" horizontalAlignment="center" fontWeight="500"
                            text="Brahmrishi Mission Sr. Sec. School"></Label>
                        <Label row="1" fontSize="18%" horizontalAlignment="center" color="white" fontWeight="500"
                            text="Abohar (Punjab)"></Label>
                    </GridLayout>
                    <StackLayout col="2" width="10%" height="50%" verticalAlignment="top">
                    </StackLayout>
                </GridLayout>
            </StackLayout>

            <GridLayout verticalAlignment="top" (loaded)="onImageLoaded($event)" width="100vh" height="100vh"
                borderRadius="50vh" marginTop="17%">
                <Image [src]="profilePic" width="100vh" height="100vh" borderRadius="50vh" stretch="aspectFill"></Image>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" backgroundColor="#D9D9D9" horizontalAlignment="left"
                verticalAlignment="top">
                <Label class="heading" textWrap="true" text="Teachers"></Label>
            </GridLayout>

            <GridLayout marginTop="25%" width="35%" height="8%" backgroundColor="#D9D9D9" horizontalAlignment="right"
                verticalAlignment="top">
                <Label class="heading" textWrap="true" [text]="year"></Label>
            </GridLayout>

            <!-- <GridLayout marginTop="33%" width="100%" height="7%" verticalAlignment="Top" columns="auto,auto">
                <StackLayout *ngIf="isClassPicker" col="0" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onClass()">
                    <Button class="classButton" [text]="classButton"></Button>
                </StackLayout>
                <StackLayout *ngIf="isSectionPicker" col="1" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onSection()">
                    <Button class="classButton" [text]="sectionButton"></Button>
                </StackLayout>
            </GridLayout> -->

            <!-- <GridLayout marginTop="34%" width="100%" height="5%" verticalAlignment="Top" columns="auto,auto">
                <StackLayout *ngIf="isClassPicker" col="0" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onClass()">
                    <Button class="classButton" [text]="classButton"></Button>
                </StackLayout>
                <StackLayout *ngIf="isSectionPicker" col="1" width="50%" height="100%" verticalAlignment="middle"
                    (tap)="onSection()">
                    <Button class="classButton" [text]="sectionButton"></Button>
                </StackLayout>
            </GridLayout> -->


            <GridLayout marginTop="34%" width="100%" height="5%" backgroundColor="#D9D9D9" verticalAlignment="top"
                columns="auto,auto">
                <GridLayout *ngIf="isClassTeacher" col="0" width="48%" height="100%" marginLeft="1%"
                    backgroundColor="#A61F21" borderRadius="5" (tap)="onClassTeacher()">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label text="Teacher (Incharge)" color="white" fontSize="16%" textAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout *ngIf="!isClassTeacher" col="0" width="48%" height="100%" marginLeft="1%"
                    backgroundColor="#A6A6A6" borderRadius="5" (tap)="onClassTeacher()">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label text="Teacher (Incharge)" color="black" fontSize="16%" textAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout *ngIf="!isClassTeacher" col="1" width="48%" marginLeft="2%" height="100%"
                    backgroundColor="#A61F21" borderRadius="5" (tap)="onSubjectTeacher()">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label text="Teacher" color="white" fontSize="16%" textAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout *ngIf="isClassTeacher" col="1" width="48%" marginLeft="2%" height="100%"
                    backgroundColor="#A6A6A6" borderRadius="5" (tap)="onSubjectTeacher()">
                    <StackLayout width="100%" height="100%" verticalAlignment="middle">
                        <Label text="Teacher" color="black" fontSize="16%" textAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>

            <!-- <GridView height="60%" width="100%" [items]="teachers" marginTop="40%" colWidth="90%"
                [rowHeight]="rowHeight" verticalAlignment="top"> -->
            <RadListView [items]="teachers" height="60%" width="100%" marginTop="40%" colWidth="90%"
                [rowHeight]="rowHeight" verticalAlignment="top">
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="1">
                </ListViewStaggeredLayout>
                <ng-template let-item="item" let-odd="odd" let-i="index">
                    <GridLayout rows="auto,auto,auto,auto,auto" backgroundColor="#FFFFFF" marginLeft="10"
                        marginRight="10" marginBottom="10" marginTop="5" orientation="vertical" borderRadius="8%"
                        verticalAlignment="stretch" androidElevation="5" borderRadius="10">
                        <StackLayout row="0" width="90%" [height]="height" verticalAlignment="middle">
                            <Label color="#A61F21" fontSize="16%" fontWeight="500" textAlignment="center"
                                [text]="item.name"></Label>
                        </StackLayout>
                        <StackLayout row="1" width="90%" [height]="height" orientation="horizontal">
                            <Label color="black" fontWeight="500" fontSize="16%" text="Email: "></Label>
                            <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                [text]="item.email"></Label>
                        </StackLayout>
                        <StackLayout row="2" width="90%" [height]="height" orientation="horizontal">
                            <Label color="black" fontWeight="500" fontSize="16%" text="Subject: "></Label>
                            <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                [text]="item.subject"></Label>
                        </StackLayout>
                        <GridLayout row="3" width="90%" height="auto" columns="auto,auto">
                            <StackLayout col="0" width="100%" height="auto" orientation="horizontal">
                                <Label color="black" fontWeight="500" fontSize="16%" text="Class teacher: "></Label>
                                <!-- <ScrollView orientation="horizontal"> -->
                                <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                    [text]="item.className"></Label>
                                <!-- </ScrollView> -->
                            </StackLayout>
                        </GridLayout>
                        <GridLayout *ngIf="isClassTeacher" row="4" width="90%" height="auto">
                            <StackLayout width="100%" height="auto" orientation="horizontal">
                                <Label color="black" fontWeight="500" fontSize="16%" text="Class incharge: "></Label>
                                <Label color="black" fontWeight="300" fontSize="16%" textWrap="true"
                                    [text]="item.classIncharge"></Label>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </RadListView>
            <!-- </GridView> -->

        </GridLayout>

        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>

        <StackLayout *ngIf="isLoading" width="80%" height="12%" borderRadius="10" backgroundColor="white"
            orientation="vertical" opacity="0.8">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
            <Label text="Loading..." color="#3542B6" textAlignment="center" fontSize="16%"></Label>
        </StackLayout>

    </GridLayout>
</Page>