.page {
    background-position: center;
    background-image: url("res://background");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    stretch: fill;
    filter: blur(5px);
  }

  .icons{
      padding: 10;
  }

  .heading{
    font-size:20;
    vertical-align: middle;
    text-align:center;
    font-weight:500;
    color: #A61F21
  }
  .backArrow{
    width:40;
    height:40;
  }

  .classButton{
    width:80%;
    height:80%;
    border-radius:100;
    border-color:#A61F21;
    border-width:1;
    background-color:white;
    color: #A61F21;
    padding:0;
    font-size: 16%;
  }
  .classButton:highlighted{
    background-color: #A61F21;
    border-color: white;
    color:white
  }

  .classDialogButton{
    width:100%;
    height: 100%;
    border-color:white;
    border-width:1;
    background-color:#3542B6;
    color: white;
    font-weight:500;
    font-size:16;
    padding:0;
  }
  .classDialogButton:highlighted{
    background-color: white;
    border-color: #3542B6;
    color:#3542B6;
  }